[2020-10-10 07:00] lhenriet opened #2 "Maximum value of the amplitude for global Rydberg channel."
Hi everyone,
In here : https://journals.aps.org/prx/pdf/10.1103/PhysRevX.8.021070, one finds in Table 1 values of \Omega_max that  are incompatible with the current limit for the Rabi frequency on the global Rydberg channel.

[2020-10-21 08:48] sebgrijalva opened #4 "Blackman Waveform as amplitude has small negative values at boundaries"
If I create a pulse using a Blackman waveform as amplitude, the boundaries seem to have negative samples, so it produces an error. Here's an example:

<img width="847" alt="image" src="https://user-images.githubusercontent.com/13460713/96696254-d848db00-138a-11eb-9dc4-6d5ef51fcba3.png">

[2020-10-21 09:47] sebgrijalva opened #5 "`Sequence.draw()` method can't be plotted when the sequence contains many qubits"
When a (local) channel acts on several qubits, there's a maximum number of pulses until the `draw()` method gives an error.

Here's an example of running 17 pulses on different qubits with duration 500ns:

<img width="838" alt="image" src="https://user-images.githubusercontent.com/13460713/96702999-9facff80-1392-11eb-83d3-e7b66f6e2db2.png">

If I now do the same thing with 18 qubits, I get the fol

[2020-10-21 15:24] #4 closed, assigned to nobody

[2020-10-21 15:28] #5 closed, assigned to nobody

[2020-10-28 16:00] nathanshammah opened #7 "Add tests"
Adding unit tests also at this early development stage will prove useful as it reduces tech debt. Tests could be grouped into a `tests` folder, divided into modules that mirror the main modules, such as `test_pulses.py`. Tests can be checked with [`pytest`](https://docs.pytest.org/en/stable/), which I advise using instead of other packages. Tests should be as simple as possible.

[This first step

[2020-11-10 14:56] karalekas opened #10 "Add setup.py and requirements.txt"
These are essential for any Python project. They describe how to package and install the project, and how to set up a development environment for it in a repeatable way. As such, they are pre-requisites for implementing continuous integration.

[2020-11-10 15:00] karalekas opened #11 "Set up continuous integration using Github Actions"
Once some tests have been written (#7) and the project has the necessary `setup.py` and `requirements.txt` files (#10), we can set up a continuous integration (CI) pipeline for automatically running the tests upon opening a PR or making a commit to master. There are many tools for CI, but I'd recommend using [Github Actions](https://github.com/features/actions), mostly for convenience. For an exam

[2020-11-10 15:15] #7 closed, assigned to nobody

[2020-11-10 15:31] karalekas opened #12 "Add a LICENSE"
Before open-sourcing, you'll need to pick what type of license you want to use (e.g. `Apache-2.0`). After that, do the following:
1. Put a copy of it in the repository.
2. Update the `setup` function in `setup.py` to tell it what license you chose.
3. Add `include LICENSE` to `MANIFEST.in`.
4. Take the shortened license and apply it to all the source code files in the repository (see top of [this

[2020-11-10 15:52] karalekas opened #14 "Use absolute imports instead of relative imports"
The syntax `from pulser.devices import PasqalDevice` is preferred to `from .devices import PasqalDevice`. In addition, it is best practice to segment imports into 3 sections: standard library, third-party, and local. It looks like the code currently groups standard library & third-party, and has a second section for local. See [this article](https://realpython.com/absolute-vs-relative-python-impor

[2020-11-10 15:55] #10 closed, assigned to nobody

[2020-11-10 16:25] HGSilveri opened #15 "Tests folder without __init__.py"
@karalekas : In PR #13, I noticed you removed the `init.py` from tests but I can't make them run without it. Was this a mistake on your side or am I missing something here?

[2020-11-10 16:27] karalekas opened #16 "Add type hints, and use mypy to enforce in CI"
Python is a dynamically-typed language (see: [duck typing](https://en.wikipedia.org/wiki/Duck_typing)), but Python 3.5 and [pep-484](https://www.python.org/dev/peps/pep-0484/) introduced type hints as a way to annotate Python code with types. These are not enforced by the language at runtime, but they can be checked by third-party libraries such as [mypy](https://mypy.readthedocs.io/en/stable/). T

[2020-11-10 16:30] #15 closed, assigned to nobody

[2020-11-10 18:00] karalekas opened #17 "SciPy error when running "Usecase 3" notebook"
When running cell 11, I get the following:

[code]

[2020-11-10 18:05] karalekas opened #18 "Remove try/except import block from notebooks"
Now that we have a `setup.py`, we shouldn't need to do this import hack in the notebooks:

[code]

I have verified locally that I am able to remove this block and everything works. If it's still not working for you @HGSilveri, then try running `git clean -fdx` in the top-level directory of Pulser to get rid of the cache files.

I can make this fix after #17 is done, so there are no conflicts.

[2020-11-18 11:29] nathanshammah opened #21 "Consider registering package name on PyPI"
You could register the name of the package on PyPI. `pulser` is currently available (https://pypi.org/search/?q=pulser), also checkable with `pip search pulser`.
[Here](https://packaging.python.org/tutorials/packaging-projects/#) are more details on packaging, I can provide support about. I'd register a pretty empty version (e.g., `v. 0.1a1`, according to semantic versioning) on PyPI, with a minim

[2020-11-18 20:22] #18 closed, assigned to nobody

[2020-11-18 20:28] #17 closed, assigned to sebgrijalva

[2020-11-23 03:41] #14 closed, assigned to HGSilveri

[2020-11-23 08:29] #11 closed, assigned to nobody

[2020-11-23 08:40] HGSilveri opened #24 "Change the Branch Protection Rules"
Two things to do here:
- Require at least one approved review to merge a PR
- Require that all CI tests pass to merge a PR

As far as I can tell, these options can only be set with a Free account once the repository is public. I leave the issue here so that we don't forget to do this once that happens, or in case we decide to upgrade one of the accounts.

[2020-11-27 12:38] HGSilveri opened #26 "Simulation is using MHz and ns"
Having the waveform amplitudes in MHz and the time steps in ns is incompatible with an adimensional simulation. Adjustments should be made to one or the other inside the simulation module (I would suggest dividing all samples by 1000, ie going to GHz).

[2020-11-27 12:39] HGSilveri opened #27 "Define quantities and units consistently"
Here are some issues with the units and quantities of things:

1. The usage of MHz and ns is awkward because it requires an adjustment factor of 1e3 every time something like an area is computed. We've seen this error occur in the development of the Simulation module (#26) and it seems prone to confuse the users too.

2. There is currently some ambiguity in the definition of the Amplitude quantity

[2020-11-30 15:04] karalekas opened #28 "Follow PEP8 style guidelines, use flake8 to enforce in CI"
Currently, running `flake8` doesn't give many errors:

[code]

See https://www.python.org/dev/peps/pep-0008/

[2020-11-30 15:34] karalekas opened #30 "Dataclasses vs. ABC + property"
Reading through the source, I've noticed some places that I think would be better served by using [dataclasses](https://docs.python.org/3/library/dataclasses.html), which are part of the Python standard library as of py37. For example, see the following definition of a `PasqalDevice`:

[code]

The properties can be much more succinctly defined using a dataclass, as follows:

[code]

There are a co

[2020-11-30 16:36] karalekas opened #31 "Consider using the black autoformatter"
Following on from discussion in #29, we might want to use a tool (like [black](https://github.com/psf/black)) that handles source code formatting automatically.

[2020-12-02 08:03] #28 closed, assigned to nobody

[2020-12-02 11:48] #12 closed, assigned to lhenriet

[2020-12-03 12:39] HGSilveri opened #34 "Make Device a static dataclass and add Register to Sequence directly"
This change simplifies the creation of a Sequence by asking the Register to be provided directly to it, side-by-side with the Device, instead of feeding the Register through the device. It also allows each Device to be an instance of a PasqalDevice dataclass that, after initialization with the characteristics of a specific device, can be static and immutable (i.e. does not receive the Register).

[2020-12-03 12:52] #30 closed, assigned to nobody

[2020-12-03 13:02] HGSilveri opened #35 "Complete source code docstrings"
Although the majority of the code in `master` is already documented, the task is not complete. This issue serve as a reminder of such, and can be closed once that objective is met.

[2020-12-03 14:28] #21 closed, assigned to sebgrijalva

[2020-12-04 08:58] #35 closed, assigned to HGSilveri

[2020-12-14 16:55] HGSilveri opened #43 "Turn Channel into a Dataclass"
Following the adoption of the Dataclass format for Device, it makes sense to do the same for Channel.

I've already started this on branch [channel-dataclass](https://github.com/pasqal-io/Pulser/tree/channel-dataclass), so this issue serves as a reminder for myself or any other to finish the job and write a PR when the time is right.

[2020-12-15 10:40] #34 closed, assigned to HGSilveri

[2020-12-16 15:20] HGSilveri opened #45 "Speed up Simulation"
Increase time-efficiency of the Simulation module.

[2020-12-16 15:22] HGSilveri opened #46 "Prepare Simulation for integration with master"
- Write tests for `simulation.py`
- Conclude related tutorials

[2020-12-16 15:28] HGSilveri opened #47 "Cohesive and extensive documentation and tutorials"
A barebones setup for the docs has been started in the [docs](https://github.com/pasqal-io/Pulser/tree/docs) branch but has since gone out-of-sync.
 - Update the docs once the source code reaches (or is close to) its v0 form
 - Structure and write docs
 - Incorporate tutorials

[2020-12-16 15:30] HGSilveri opened #48 "Chadoq2 -> Fresnel"
- Change the name of "Chadoq2" to "Fresnel"
 - Update the device and its channels' specs

[2020-12-16 15:38] HGSilveri opened #49 "Create a MockDevice"
Add a device class that is not tied down to an existing or near-future device, thus giving the user the option to create and test currently unfeasible sequences freely.

This device's specs should have some connection to reality but be very permissive, to the point of being unrealistic for a near-term device but potentially achievable in the somewhat distant future.

[2020-12-16 17:19] HGSilveri opened #50 "Update restrictions to input from hardware"
Update what is accepted according to what the Quantum Machine can do.

[2020-12-18 12:24] #43 closed, assigned to nobody

[2020-12-18 16:10] #26 closed, assigned to sebgrijalva

[2020-12-21 09:57] #2 closed, assigned to nobody

[2020-12-21 11:07] #49 closed, assigned to nobody

[2021-01-04 14:15] #45 closed, assigned to lhenriet

[2021-01-05 13:11] lhenriet opened #55 "Possibility to have samples as the output of a simulation to describe more faithfully the real device"

[2021-01-05 13:12] lhenriet opened #56 "Computing observables automatically"
Making the use of QuTiP more transparent to the user, by providing a way to compute observables from a simulation result.

[2021-01-06 09:26] lhenriet opened #57 "Having access to the blockade radius from the device"
My suggestion :
1) Add the attribute c_6 to PasqalDevice
2) Add a public method to PasqalDevice taking as an argument an (allowed for that device) value of \Omega in Mhz, and returning the corresponding Rydberg blockade radius in \mu m.

Thoughts ?

[2021-01-06 13:26] #57 closed, assigned to HGSilveri

[2021-01-06 13:27] cdalyac opened #59 "Slow Optimization for Variational processes"
The classical loop in optimization process for QAOA takes a long time. Possibly because the whole sequence has to be re-created for each new value of variational parameters.

[2021-01-07 09:45] sebgrijalva opened #60 "Get interatomic distance from register in regular arrays."
It can be useful, when calculating statistical properties from the qubits (e.g. Correlation functions), to store the interatomic distance(s) that defined the register, specially if it is some regular array. This could be something like `Register.atom_spacing`, or some better name.

[2021-01-08 10:47] sebgrijalva opened #62 "Measurement in three-level systems."
We discussed in #61 that sampling from a simulation with the three levels involves finding out how to handle any residual populations in the extra level.

[2021-01-12 08:13] #62 closed, assigned to HGSilveri

[2021-01-13 07:40] #50 closed, assigned to HGSilveri

[2021-01-15 10:47] HGSilveri commented on #24
Now that Pulser is public, I have implemented this.

[2021-01-15 10:47] #24 closed

[2021-01-15 10:53] HGSilveri commented on #56
This issue is solved by the `SimulationResults` class.

[2021-01-15 10:53] #56 closed

[2021-01-15 11:05] HGSilveri opened #66 "Integrating ReviewNB"
Now that we are open-source, we can integrate [ReviewNB](https://www.reviewnb.com/) for free to facilitate the review of Jupyter notebooks. What do you think, @lhenriet  @sebgrijalva ? Should I set this up?

[2021-01-15 11:58] HGSilveri opened #67 "Serializing a Sequence"
In order to send a `Sequence` over to the QPU, there will need to be some sort of serialization. Although JSON is the obvious choice (mainly because it's the only one I know...), I'm sure there are other options, which might be better suited for the job. What's your take on this, @bejito ?

Another thing to decide here is whether or not we want to deserialize back to a Pulser Sequence. Currently,

[2021-01-15 12:39] HGSilveri opened #68 "Assess the effect of pulse duration restrictions on the tutorials"
The restriction of a pulse duration to multiples of 4 ns might have unwanted effects on the results of two tutorials in particular: "Preparing an antiferromagnetic state in the Ising model" and "Tutorial MIS & QAOA".

I kindly ask the main authors, @sebgrijalva and @cdalyac, to verify whether the automatic rounding that is now occurring affects the expected outcomes and, if so, to adapt the notebo

[2021-01-15 12:42] sebgrijalva commented on #66
I think it's a good idea, we might as well get used to it now, as the number of notebooks will keep growing.

[2021-01-15 12:43] sebgrijalva commented on #59
This was addressd in #64.

[2021-01-15 12:43] #59 closed

[2021-01-15 12:43] sebgrijalva commented on #55
This was addressed in #61.

[2021-01-15 12:43] #55 closed

[2021-01-15 12:59] sebgrijalva commented on #68
"Preparing state with antiferromagnetic order in the Ising model.ipynb" is running fine. I also ran "Tutorial MIS & QAOA.ipynb" and it doesn't seem to produce any unexpected output. Can you confirm @cdalyac ?

[2021-01-15 13:06] lhenriet commented on #67
I would be in favor of having a deserialization procedure. There is another usecase, in addition to the pulser -> QM translation that you mention. If a user chooses to 'emulate' the dynamics on Pasqal Cloud Services (and not locally), we will re-create the sequence to feed it into Simulation.

[2021-01-15 14:19] HGSilveri commented on #67
Ok, cool. I think that's enough to justify doing it. Now it's just a matter of deciding which format we'll choose (ie JSON or something else).

[2021-01-18 10:25] HGSilveri commented on #66
I know I said I'd do this, but actually it has to be done with the account that owns the repository, so I think it will be up to you, @lhenriet .

[2021-01-18 10:30] HGSilveri commented on #27
@sebgrijalva @lhenriet  We still need to clear this up. As far as I could tell, the discussion with the HW team was not conclusive, right?
Personally, I think changing the name to Rabi Frequency, apart from being a lot of work, might also be misleading. Changing to \Omega is still an option, though I'm not so sure it's necessary.

[2021-01-18 10:32] HGSilveri commented on #46
The tutorials are done, so PR #69 will close this.

[2021-01-18 13:01] lhenriet commented on #66
@HGSilveri you should be able to do it now.

[2021-01-18 13:21] HGSilveri commented on #66
Ok, the app is installed on this repo. If you want to use it, go [here](https://app.reviewnb.com/), sign up and you should be able to select Pulser. It's not of much use right now, but once we have a PR with changes to notebooks, we should be able to try this out.

[2021-01-18 13:23] sebgrijalva commented on #66
Thanks, this looks nice!

[2021-01-18 13:25] HGSilveri commented on #66
Does it work for you, @sebgrijalva ?

[2021-01-18 13:42] sebgrijalva commented on #66
Yes, I think so

<img width="1220" alt="image" src="https://user-images.githubusercontent.com/13460713/104922722-5ffab180-599b-11eb-8c84-b8e5e3369f61.png">

[2021-01-18 13:43] HGSilveri commented on #66
Ok, great!

[2021-01-18 13:43] #66 closed

[2021-01-18 13:57] #46 closed

[2021-01-18 14:04] cdalyac commented on #68
"Tutorial MIS & QAOA" is working fine, warning still appears and results displayed are expected.

[2021-01-18 14:04] #68 closed

[2021-01-20 10:37] HGSilveri opened #72 "Adding the MW channel and specific functionality"
Adding the MW channel type for implementation of the XY Hamiltonian. Note that, unlike with the Rydberg and Raman channels, the MW channel cannot coexist with other channel types on the same Sequence, as it requires a specific initialisation procedure and works on a basis that is incompatible with the other channels. This will demand changes to the `Sequence` and `Simulation` classes.

[2021-01-21 08:53] HGSilveri opened #74 "Drawing the Rydberg radius"
Just an idea that might be useful: we could add the option to draw the Rydberg blockade radius around the atoms in the Register, in typical unit-sphere fashion.

Further on, we could even combine this with a routine to extract the maximum Rabi frequency from a sequence, to automatically determine the Rydberg blockade radius.

Another idea would be to take in the Rydberg radius and spit out the cor

[2021-01-21 09:24] cdalyac commented on #74
Good idea and I agree, it felt like this part was missing. 100% would use.

[2021-01-21 14:51] sebgrijalva commented on #74
Seems like a cool idea!

I'm not sure I follow, how will you determine the corresponding graph? i.e. what is your initial information?

[2021-01-21 14:53] HGSilveri commented on #74
If two nodes are less than `Rb` away, they are connected by an edge.

[2021-01-25 14:42] HGSilveri opened #75 "Removing _chirps from Pulse?"
I realise that the `Pulser._chirps()` method is a bit out of place, considering we don't use it anywhere. I need it for the QM translation, but I can also just have it there instead.
The argument I have in favour of leaving it in Pulser is that it contains the information on how the detuning waveform will actually be done, which we might want to use for a more realistic display of the Sequence or

[2021-01-27 11:58] ZongkaiLiu opened #76 "How to get the parameters of the phase diagram?"
Hello, this package is helpful in my research. I  really appreciate for your work.
However, I am a little confused while reading the tutorial _Building 1D Rydberg Crystals.ipynb_. In the function `phase_diagram()` , the lobes of the phase diagram are draw by the `fill_between()` function. It seems that the parameters are already determined (`x = 2*(0.6+8*(y-1.2)**2)`). I do not know how to obtain

[2021-01-28 08:19] sebgrijalva commented on #76
Hello,
In the tutorial you mention there is a phase diagram of the different phases for detuning and Rabi frequency. but this is only an schematic picture, the parameters are indeed just filled parabolas. Obtaining precise phase transition points is a more delicate problem in which one investigates the closing of the energy gap or the scaling of the divergence of an order parameter (which as you s

[2021-01-29 10:10] #76 closed

[2021-02-01 16:05] HGSilveri opened #78 "Variable retarget time"
To more closely mimic the actual implementation, the retarget times should vary according to the last time a "target" command was added to a channel. The only criteria is that two "target" commands have to be spaced 220 ns. A retarget time is only added to enforce this rule. This will mean, in almost every case, that the target times will go down to 0.

It will have an effect on some tutorials, ot

[2021-02-01 16:52] lhenriet commented on #78
I would be in favor of dealing with issues like that as soon as they appear.

[2021-02-03 13:26] #75 closed

[2021-02-05 15:05] #47 closed

[2021-02-05 15:20] HGSilveri commented on #27
I think this could be solved with a page in the docs clarifying things.

[2021-02-08 17:05] #78 closed

[2021-02-09 12:05] HGSilveri opened #81 "Removing "rydberg_local2" from Chadoq2"
With the new mechanism for retargeting local channels, the "rydberg_local2" channel is no longer necessary for CZ gate implementations and I would guess it won't be added to Chadoq2, unless I'm missing something. As such, I was thinking I should remove it. Any objections @lhenriet @sebgrijalva ?

[2021-02-10 09:14] sebgrijalva commented on #81
If it's not going to be added to Chadoq2, I'm inclined to have it removed.

[2021-02-10 09:17] HGSilveri commented on #81
I'm not sure it won't, but that would be my guess. And anyway, if it ends up being added, it's always easy and non-conflicting to add it then.

[2021-02-10 10:30] #27 closed

[2021-02-10 13:22] #48 closed

[2021-02-10 13:22] #81 closed

[2021-02-16 15:15] HGSilveri commented on #74
Hey everyone! I'm implementing this thing, it's pretty much done. However, I have a question for you: how do you want to deal with edge cases where the atoms are exactly the Rydberg blockade radius away? In the example above, you see how rounding errors connect some atoms but not others, simple because of the rounding.
![image](https://user-images.githubusercontent.com/29920212/108081658-7ca90880-

[2021-02-16 15:32] cdalyac commented on #74
I'd say we give a bit of margin below so that if the effective distance is r_b + epsilon,  (with epsilon = `1e-8` as discussed with @HGSilveri ) we still see the link.

[2021-02-18 09:03] #74 closed

[2021-02-19 15:04] HGSilveri opened #89 "Add biblio references to docs"
We should link some published reviews in the docs, throwing in something outside of Pasqal and the IOGS group like [this one](https://iopscience.iop.org/article/10.1088/0953-4075/49/20/202001/ampdf) for good measure.

[2021-02-26 08:23] HGSilveri opened #91 "Docs and Tutorial for SequenceBuilder"
Write a tutorial and documentation on how to use the SequenceBuilder class.

[2021-03-01 10:15] HGSilveri opened #94 "Custom bounds on the blockade radius"
From my point of view, the user's access to the Rydberg blockade radius is still a little rough. It's strange to start with the register and then not really knowing whether your chosen pulse amplitudes actually give you the connectivity you're hoping for. I though it could be useful to have the option of setting the upper and/or lower bound of the blockade radius.

This would amount to translating

[2021-03-05 14:41] HGSilveri opened #98 "Special operators for waveforms"
I think it would be a nice improvement to have some special operators for waveforms. I came up with these ones:
 - Negation: Doing `-wf` would return a Waveform with all it's samples' sign flipped
 - Multiplication: Doing `wf * 2` would multiply all it's values by 2. It doesn't make sense to multiply two waveforms.

 Not so sure these make sense:
 - Addition: Doing `wf + 2` would add 2 to all valu

[2021-03-09 09:59] HGSilveri opened #99 "Blackman Waveform from maximum reachable value"
The duration of a Blackman waveform is often irrelevant and what matters in fact is the maximum value it reaches, for it can influence the Rydberg radius on amplitude waveforms for Rydberg channels.

The proposal here is a class method for the `BlackmanWaveform` where the defining arguments are the area and the maximum value reached, so the duration of the pulse adapts accordingly.

[2021-03-09 11:07] sebgrijalva opened #100 "Effective Pulse Sequence in Simulations"
When a `sampling_rate` is specified in a `Simulation`,  a fraction of the samples is chosen to create the `QobjEvo` of the Hamiltonian. If the sampling rate value is very small, this may result in an oversimplified sequence. On the other hand, if one is looking for a good compromise of a low `sampling_rate` that runs faster and still faithful to the ideal sequence, having a visual aid is valuable.

[2021-03-09 11:14] HGSilveri commented on #100
I would advise you to reuse the code in `_seq_drawer.py`. From glancing at the code there, it might be enough to adapt the `gather_data` function for when it receives a `Simulation` object instead of a `Sequence` one.

[2021-03-15 08:47] Louis-PaulHenry commented on #100
I've implemented a version of this in a new branch.
Quick question about it : is there a reason why the "max_step" for sesolve is set to 5? Have you tried different values and settled on this one?

[2021-03-15 09:01] sebgrijalva commented on #100
The maximum step was set to 5 to avoid skipping parts of the sequence (the solver sometimes takes large jumps). Generally, it should be set as less of half the length of a given pulse.  I remember `max_step=5` being good enough for faster runtimes and no mistakes, but we didn't try tuning it further.

[2021-03-15 14:55] #99 closed

[2021-03-15 15:12] Louis-PaulHenry opened #102 "Random initial state"
In order to check the stability of the emulator, it could be useful to be able to input a random initial state with a simple caracterisation (say a product state were each atom is in <img src="https://render.githubusercontent.com/render/math?math=$\sqrt{(1-r_0^2)}e^{i \theta_g}{\bf g} \%2B r_0 e^{i \theta_r}{\bf r}$">, with r_0 an input from the user)

[2021-03-16 09:43] bejito commented on #67
Yes, agree with all the above.
In terms of languages, JSON is okay I think. If we feel like we need more perf in terms of bandwidth at some point, we can go with protobuf. Although more efficient, it is also less human readable so definitely not a good take for the dev phase.
Serialization should be rather direct. There might be a little difficulty on the deserialization part with the variables si

[2021-03-16 19:50] Louis-PaulHenry commented on #98
I'm just thinking about that now, but how about rescaling the time or the duration of a pulse, it might be a useful method :
pulse too short -> increase the duration by time delta t, or multiply the timescale by a scale lambda (taking care of the 4 ns unit)?

[2021-03-17 10:19] HGSilveri commented on #98
I'm not sure I fully understand what you have in mind. I would say that rescaling is misleading when you are so constrained in the values you allow, as you will either force the user to carefully select the scaling factor or you'll have to change the outcome under the hood, which might give rise to undefined behaviour.

[2021-03-17 15:58] HGSilveri opened #106 "Setting a clear Git workflow"
The Git workflow sets the rules for how to use Git when contributing to a project. You can see an explanation of the most common workflows [here](https://www.atlassian.com/git/tutorials/comparing-workflows).

Up until now, we have been using a [Feature Branch Workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow) among the collaborators and the [Forking Work

[2021-03-17 19:01] Louis-PaulHenry commented on #106
It doesn't sound too complicated (I haven't yet read the Gitflow page, so maybe I'm underestimating something).
I agree that we need to structure the workflow, and your suggestion seems to do the trick

[2021-03-17 19:08] Louis-PaulHenry commented on #98
I'm just thinking of users who might try different pulse times to try and optimise their problem and try a given shape for different durations. It's easy enough to do by hand, but for a compositewaveform it might not be as straightforward.
I'll write a separate issue both for that and the rescaling of the area

[2021-03-17 19:27] Louis-PaulHenry opened #107 "Further useful operators on wf"
It is now easy to multiply a wf by a constant, I think we could use it to allow the user to rescale a wf wouthout changing its global shape. I'm thinking of 2 potential uses :

-  The user might try to change the duration of the pulse while keeping the shape fixed. A method might be useful in the case of a Compositewaveform, when it's not straightforward to do it by hand. From a given waveform, th

[2021-03-18 10:39] bejito commented on #106
Great initiative @HGSilveri
I agree with your conclusions, that flow looks good. The only issue comes when having to merge hotfixes, because we will probably want to merge them in `master` and `release`/`develop` to enjoy the fix in the branches, and to make sure master doesn't drift from them (which would make later PRs more complicated). But hotfixes should be exceptions in the flow, they should

[2021-03-18 12:01] HGSilveri commented on #106
@bejito You mean you agree with the standard gitflow approach, right? With having a `develop` branch instead of a `v*`branch for the next release, that is.
I agree that hotfixes complicate things a bit, but I'm fine with that for now, as long as the occasional contributor doesn't have to deal with the complications directly (ie they PR to `master`, we take care of the rest.)

Yes, I think we're fa

[2021-03-18 12:10] HGSilveri commented on #107
I think that the first point causes a lot of issues. Considering an arbitrary waveform, what does it mean to increase or decrease the duration? Do you take specific points and do a spline? In a Blackman waveform, do you keep the area constant or the values it reaches? It just seems to introduce too much trouble for its value.

As for the second point, I can see it coming in handy, yes. Especially

[2021-03-18 13:14] bejito commented on #106
1. The naming is up to you, both options are okay to me.
2. We should also be tagging the commits related to releases, and that will make it easier later to recreate a branch from a given tag. Whether we delete the release branches or not wouldn't be an issue anymore, we could always recreate them from the commit with the highest minor/patch related to that release.

[2021-03-18 13:39] HGSilveri commented on #106
I'm leaning toward `develop` because it wouldn't require the contributor to know what the current `v*` branch is.

I'm already doing this, I agree that it substitutes keeping the releases stored in branches.

[2021-03-18 16:45] #98 closed

[2021-03-18 16:47] HGSilveri commented on #94
Update: The above requirement is indeed too restrictive. A very minimal, but useful addition, would be to plot a line marking the \Omega threshold that enforces a given blockade radius minimum or maximum value.

[2021-03-18 17:05] sebgrijalva opened #108 "Hamiltonian from Simulation Object"
It will be useful to have access to the Hamiltonian constructed from the `Simulation` object, specially since the `qutip.QobjEvo` object gives access to H(t) via its `__call__()` function. This could take the form of a getter from the `Simulation._hamiltonian` attribute.

[2021-03-25 08:40] #108 closed

[2021-03-29 13:30] HGSilveri opened #112 "Easy access to the current duration of a Sequence"
While creating a Sequence, it is often useful to check its current duration. Having a method that would work like:
[code]
would be a nice and easy addition.

[2021-04-11 07:29] #60 closed

[2021-04-11 07:37] lhenriet commented on #102
Hi  ! I think it's already possible to provide an initial_state in the run method. By the way, I feel it would be good to clarify (in the docstring?) that this feature is only possible for emulation's purposes.

[2021-04-11 07:37] #102 closed

[2021-04-12 09:57] Louis-PaulHenry opened #123 "Strange behavior in the time series of the sequence adder"
I've stumbled upon this issue while trying to get the 'spline extrapolated' pulse used by Qutip:
when adding a pulse to the sequence, the resulting list of times `gather_data(seq)[ch]['time']` is not always strictly increasing, jumping back one time step at the junction between the two pulses (This might have to do with the leading 0 in the list).

[2021-04-12 10:00] HGSilveri commented on #123
Last time I checked, we weren't using `gather-data` for what is given to the Qutip solver. Are you doing this yourself?

[2021-04-12 10:03] Louis-PaulHenry commented on #123
I'm using `gather_data` myself to check. The issue was raised by `pytest` when trying to draw the sequence, and using the times from `gather_data`

[2021-04-12 10:06] HGSilveri commented on #123
So if the error comes from drawing, were does Qutip come in?

[2021-04-12 10:08] Louis-PaulHenry commented on #123
The Qutip does not really come in. It's just that Qutip is using spline interpolation and I'm trying to plot this interpolation (not necessarily via Qutip, currently by extracting the data 'by hand')

[2021-04-12 10:10] HGSilveri commented on #123
But you want to plot the interpolation that Qutip is actually doing in `Simulation`, or just an interpolation of the data used for plotting?

[2021-04-12 10:12] HGSilveri commented on #123
That's my point, the data Qutip is using does not come from `gather_data`

[2021-04-12 10:13] Louis-PaulHenry commented on #123
I want to plot the interpolation that Qutip is actually doing, but without having to wait for the simulation to be actually run. I'm not sure I can get Qutip to give me beforehands the extrapolated times. I can easily get the hamiltonian at intermediate times, but not the pulse, no?

[2021-04-12 10:23] HGSilveri commented on #123
I don't know how to do that with Qutip, or if Qutip is even useful. I would look into the interpolator that Qutip is using and use that instead. I can fix this error you're getting, but bear in mind that it only comes from an improper use of `gather_data`, which is not meant to provide data for simulation or interpolation.

I'll push a commit that should solve this issue.

[2021-04-12 11:11] Louis-PaulHenry commented on #123
That's what I tried to do. I just need to find another way than `gather_data` to extract the discretization of the puse.

[2021-04-12 11:24] Louis-PaulHenry commented on #123
`get_hamiltonian` works... for a system of a single atom, where one can easily read out $\delta$ and $\Omega$ from the Hamiltonian...
![spline](https://user-images.githubusercontent.com/79902647/114386927-25677600-9b92-11eb-84f0-6d429a5d3e42.png)

[2021-04-12 12:34] HGSilveri commented on #123
Cool, awesome!

[2021-04-12 12:37] Louis-PaulHenry commented on #123
I still need to do it for generic Hamiltonians/pulses, but the time ordering issue is solved, so I'll close this issue

[2021-04-12 12:37] #123 closed

[2021-04-13 07:18] #67 closed

[2021-04-15 13:26] sebgrijalva opened #126 "Generalize evaluation time list"
To solve the Schrödinger Equation in the `Simulation.run()` method, one calls QuTiP's `sesolve()` routine. One of the arguments to give is `tlist`, which corresponds to a list of times for the result's output. This list was set to be equal to that of the Hamiltonian constructed from the pulse sequence (taking into consideration a `sampling_rate`). It may be useful, in some applications, to only ou

[2021-04-16 13:57] #91 closed

[2021-04-16 13:58] #89 closed

[2021-04-16 14:55] #106 closed

[2021-04-22 16:33] HGSilveri opened #132 "Method for creating a Register with maximum connectivity"
Sometimes, a default register layout in which the qubits can be as connected is all that's necessary. The idea here is to create another `classmethod` for the `Register` class (in `pulser.register`), in which the user creates a register with `n_qubits` that are maximally connected, while obeying the constraints of a given `device`.

The call to this method should have the following signature:
[cod

[2021-04-22 16:44] HGSilveri opened #133 "Making the restrictions on durations Device specific"
Currently, the QM restrictions on durations of waveforms, pulses and delays are enforced every time. Since not all devices might necessarily need to obey such restrictions, we should move them to the `Device` class. In this way, the default duration restrictions will just be that they are `int`, seeing as we don't plan on going below 1 ns precision.

[2021-04-22 16:56] HGSilveri opened #134 "Adapt pulses to channel's response time"
Physical HW channel's have finite response times and are thus incapable of arbitrarily steep changes. It would be good to have this effect represented, such that the user knows the difference between what they want to execute and an approximation of what actually comes out of the channel.

This feature encompasses two main aspects:
- The inclusion of the response time of a channel as another of it

[2021-04-22 17:04] HGSilveri opened #135 "Changing the device of a Sequence"
It might be useful to switch the device of an already constructed sequence.

Off the top of my head, I can think of two main features here:
- Compatibility with the new device of each element in the sequence's schedule. This would be easier if the validation methods currently residing in `Sequence` were moved to the `Device` class, where the constraints reside.
- A systematic matching between the

[2021-05-05 08:53] darcangelomauro opened #137 "Checking for empty dictionary in Register constructor"
When creating a register, the constructor looks at the first element of the qubits dictionary to know the size. I think there should be an exception raised if the user passes an empty dictionary

[2021-05-05 08:57] HGSilveri commented on #137
Hi @darcangelomauro , that's a good point! Are you up for making a PR with that?

[2021-05-05 09:59] darcangelomauro commented on #137
Hi, I don't think I have the permissions yet

[2021-05-05 10:01] HGSilveri commented on #137
You should have received an invite.

[2021-05-05 13:30] #137 closed

[2021-05-07 13:09] #133 closed

[2021-05-09 06:48] LaurentAjdnik commented on #132
Working on it ;). But I need your opinion on a few things.

Should this method only generate 2D arrays ? This seems to be the only option if we are to use `Register.triangular_lattice()`.

Off topic: By the way, shouldn't we add 3D versions of `Register.rectangle()`, `Register.square()` and `Register.triangular_lattice()` ?

The given signature includes no `rows` count. Should it be forced to 2 ?

[2021-05-10 07:44] HGSilveri commented on #132
Hey @LaurentAjdnik , thanks for taking this on! See below my answers to your questions.

Yes, only 2D arrays. All Registers in Pulser are currently 2D only. At some point we might introduce 3D throughout but right now, it's 2D all the way.

Yes. I would say you should validate the register, after creating it, with the appropriate method in `Device`.

Why 2? I would say that an array with only 2 ro

[2021-05-10 09:10] LaurentAjdnik commented on #132
Thanks for your feedback, @HGSilveri!

OK, 2D only for now then :slightly_smiling_face:! I'll be glad to help when we introduce 3D.

I added tons of checks before the Register is indeed created.

BTW, I feel like they're missing for existing methods in Register. For instance, we should check that: side > 0, rows > 0, atoms_per_row > 0, spacing > 0.0... and throw a ValueError otherwise.

I'm stuck

[2021-05-10 11:08] HGSilveri commented on #132
Didn't you use `Device.validate_register()`? In principle, all relevant checks are encapsulated there.

That's a valid point, even if it's just for the sake of having more complete error messages. Would you be up for doing that too? We can perhaps make it a separate issue.

You're right about that, and it's not such an easy fix. I would rather not go against PEP8, so perhaps here the best course o

[2021-05-10 11:29] HGSilveri commented on #132
@LaurentAjdnik Regarding the circular imports, I remembered another option. Instead of `from pulser.devices._device_datacls import Device` just do `import pulser` and then, when you do the typecheck, do:
[code]
Give it a shot, it might work.

[2021-05-10 11:40] Louis-PaulHenry commented on #132
If I may step in on this issue. There are a few metrics to consider here. I can think of two important ones :

- One might consider the difference between bulk and boundary and try to minimize the number of atoms with different (fewer) neighbors, i.e. on the boundary. This is even more important considering that the pulses are not *really* uniform over the register and vary as a function (among ot

[2021-05-10 12:57] Louis-PaulHenry commented on #132
Sure, there are sizes that don't allow for symmetry-preserving registers. I would fill the layers one after the other (one would have to determine the exact way/order of filling a given layer, as going just (anti-)clockwise would surely not do the trick).  For example, something similar to 0 -> n/3 -> 2n/3 -> n/6 -> 3n/6 -> 5n/6 -> 1 -> n/3 +1 -> 2n/3 +1 -> n/6 +1 ... (for a layer of n atoms, in t

[2021-05-10 14:51] HGSilveri opened #145 "Rerunning tutorials after new duration restrictions"
The changes in #142 made the restriction of waveform and pulse duration less restrictive, but it also made the warnings more informative.

This means that, in cases where the rounding to the allowed precision is not respected, it will do so automatically as before, but it will raise a warning stating which number was rounded to which. As a consequence, tutorials with loops where this happens repea

[2021-05-10 16:30] LaurentAjdnik commented on #132
Brilliant! Problem solved!

[2021-05-10 22:32] LaurentAjdnik commented on #132
Just for the sake of it, here's a nice hexagon with 4 layers, generated through the brand new `Register.hexagon()` function: :wink:

![Hexagon_with_4_layers](https://user-images.githubusercontent.com/83899250/117732368-0c350200-b1f0-11eb-8658-1b7b05fe9547.png)

[2021-05-11 07:11] HGSilveri commented on #132
@LaurentAjdnik your method for generating the layout seems good, I wouldn't complicate things further. I'll take the symmetry if you have it, but it's not a primary concern.

Regarding the hexagon, it does make sense to add it and even use it here, so feel free to do so, the picture looks nice :)

[2021-05-11 07:32] HGSilveri opened #146 "Improve input checking in Register classmethods"
As pointed out in #132 , some `Register` creation methods could be more exhaustive in their input checks.

[2021-05-11 08:39] HGSilveri commented on #132
BTW @LaurentAjdnik:
- As discussed, I created issue #146 regarding the Register input checks. Just leave a comment over there if you're still up for it and I'll assign it to you.
- Just out of curiosity, are you coming here from [Unitaryhack](https://unitaryfund.github.io/unitaryhack/index.html)? In case you don't know what I'm talking about, you might want to check it out! This issue would be an

[2021-05-11 12:47] sebgrijalva opened #147 "Add Support for Simulation in XY Mode"
With the recently added support for `Microwave` channels and a corresponding "XY Mode" in a Pulser sequence (Refer to [this reference](https://arxiv.org/pdf/1408.1055.pdf) for some background on the physics), it remains to add the corresponding simulation support. This implies adding an XY Hamiltonian which takes as time-dependent coefficients the pulses of the sequence, and will imply several cha

[2021-05-11 12:57] HGSilveri commented on #147
Closing this just until #144 is merged.

[2021-05-11 15:33] romainfd opened #148 "Enhanced `ValueError` messages"
When using values out of range (examples below for qubit positions and pulse detuning), the `ValueError` exception could indicate the minimum/maximum authorized value to make fixing the issue faster. The value is used in the test just above so printing it looks easy at first glance.

- Illustration for min qubits distance
![image](https://user-images.githubusercontent.com/32517197/117842634-6aa8c1

[2021-05-11 15:40] romainfd opened #149 "Display area and phase of pulse on it"
As the area of a pulse is a key element of its effect, displaying the area on the pulse when drawing the sequence could make it easier to interpret.

For example, Figure 8 of the [recent Pulser paper](https://arxiv.org/pdf/2104.15044.pdf) would be more self-explanatory with such a feature as section "3.2.5 Composing the Sequence" is focused on building pulses of specific areas.
![image](https://us

[2021-05-11 15:45] romainfd opened #150 "Use static channel names"
Could `seq.declare_channel('ch0', 'raman_local')` be replaced by something like this
[code]
(or using `Constants` instead of `Channels`)

I think this would make the project a bit more robust and also easier to use as autocomplete in IDEs would pick these up.

[2021-05-11 15:46] HGSilveri commented on #149
This would indeed be quite useful, and I have considered it before. However, as you point out, it will get quite crowded. Not only that, the space available for writing this information will decrease as the sequence increases, eventually reaching a point where you no longer have enough space to write down the area and it will just pile on, potentially making a mess.

I don't have a great idea of h

[2021-05-11 16:13] HGSilveri commented on #150
This one is not so simple, because the channel's specs change between devices. When you choose the `raman_local` channel, you are effectively saying you want the channel named `raman_local` of the device chosen for this `Sequence` (in this example, `Chadoq2`). So, in fact, there can be multiple `raman_local` channels with different characteristics.

The way it is currently done, you're supposed to

[2021-05-11 16:53] HGSilveri commented on #132
Looks great, nice job! I look forward to the PR, thanks for all the effort!

[2021-05-12 08:35] julien-bremont opened #151 "Adding several noise models in the simulation method"
Hi,

We're currently working with @sebgrijalva on noise models related to
- SPAM (State Preparation And Measurement) errors
- Doppler-induced frequency shifting that affects the laser's detuning
- Amplitude noise on gaussian lasers

We're also adding a possibility to simulate a laser sequence several times and average the results, since noise parameters are different at each run, to better simulat

[2021-05-12 08:40] julien-bremont opened #152 "Reorganizing simulation class"
Hi,

With @sebgrijalva, we are reorganizing the way `simulation.py` works to make noisy simulations possible (this is related to #151 ). Its `run` method now returns, for noiseless simulations, a `CleanResults` object, which is the analog of the previous `SimulationResults` in `v0.2` : it contains a list of `Qobj`. When adding noise, it will return a `NoisyResults` object, which contains no `Qobj`

[2021-05-12 09:13] Louis-PaulHenry opened #153 "Cubic spline extrapolation of the Hamiltonian by QuTip"
When building the Hamiltonian QobjEvo, the entire list of samples of a Sequence is given to QuTip.
QuTip will then extrapolate (with Cubic spline) the values of the coefficients in between. This leads to artifacts when defining a piecewise constant pulse, at the transitions between plateaus.
One way to correct that would be to split the Sequence into constant and time-dependant parts and tell QuTi

[2021-05-12 10:33] LaurentAjdnik commented on #148
Hi! I've been doing so for the new functions `Register.hexagon()` and `Register.max_connectivity()` (soon to be PR-ed), so I might just as well continue for others.

Fortunately, some of them already do, like `Channel.validate_duration()` for instance.

Anyhow, this will be a good opportunity to:
* Make sure allowed values are always mentioned as part of Error messages
* Harmonize the way they are

[2021-05-12 11:55] HGSilveri commented on #148
@LaurentAjdnik thanks! I agree with your suggestions, although I think it would be better to do them in a separate PR if possible, otherwise the one you're currently working on might get too big.

Regarding checks for `None` on parameters, those do sound a bit of overkill to me, but I will accept them if you feel they are necessary.

[2021-05-12 14:50] HGSilveri commented on #149
A clarification of this issue's objective:

When drawing a `Sequence`, add the option of **displaying the area and phase**, as multiples of π, of the various amplitude waveforms. The placement of such labels is not set in stone, but should be as robust to different sizes of the pulses as possible.

**Utility**:
This will allow the identification of the pulses as rotations around a Bloch sphere axi

[2021-05-12 15:43] #72 closed

[2021-05-12 18:37] LaurentAjdnik commented on #146
Hi! You can assign this one to me. I will include it in my PR for #132.

[2021-05-13 20:04] TripleR47 commented on #16
Hi @HGSilveri  @karalekas, I went through the issue and would like to work on it. I have a few questions, I found this [GitHub Action](https://github.com/marketplace/actions/lint-action) which can be used to implement the type hint ci, so can it be used? or do it need to be implemented using shell script?

[2021-05-13 20:09] LaurentAjdnik commented on #16
Hi @TripleR47, I've done it for the `Register` class (I will PR #132 tomorrow) but I did it manually 🤨, while adding "Enhanced ErrorValue messages" (#148) at the same time.

[2021-05-13 22:07] HGSilveri commented on #16
Hi @TripleR47, no preference regarding how the mypy checks are occur, as long as they are programmed into the existing workflow, if that's what you're asking. But bear in mind that is not the crux of the PR, but rather going through the existing code and adding the appropriate type hints to each function and method. After that's done, then you can incorporate `mypy` into the CI routine.
I realize

[2021-05-14 06:00] TripleR47 commented on #16
Okay, I'll ask in the unitaryHack's server if anyone wants to collaborate on this issue. Can it be assigned to me?

[2021-05-14 07:26] TripleR47 commented on #16
Hi @LaurentAjdnik, wanna collaborate on this issue?

[2021-05-14 07:27] LaurentAjdnik commented on #16
👍

[2021-05-14 07:58] TripleR47 commented on #16
Are you in unitaryfund's discord server? If you are then DM me on discord, we can discuss further on this.

[2021-05-14 08:30] HGSilveri commented on #16
@TripleR47 @LaurentAjdnik So, can I assign it to you both?

[2021-05-14 09:25] TripleR47 commented on #16
Sure

[2021-05-14 10:40] LaurentAjdnik opened #157 "Consistency for `Error` messages"
There are sooooooo many ways to write an Error message.

For instance when starting the message:
* "The number of qubits..."
* "'n_qubits'..."
* "The number of qubits 'n_qubits'..."

Then we have to decide whether to include the parameter value that was provided and the allowed values (see #148). And how.

Even the phrasing for allowed values can vary a lot:
* "...must be below..."
* "...must be s

[2021-05-14 11:18] LaurentAjdnik commented on #16
Yup!

Your feedback on #155, in which I added type hints, will be insightful for the current issue.

Then, we can sync with @TripleR47.

[2021-05-15 08:02] TripleR47 commented on #16
@LaurentAjdnik

[2021-05-15 13:36] LaurentAjdnik commented on #16
@TripleR47: Nope, not on Discord. I'm waiting for the feedback on #155 and we can move on from there.

Adding type hints will be pretty straightforward. Maybe we can dispatch classes between us.

@HGSilveri: Will you be in charge of adding mypy to CI workflow ?

[2021-05-15 13:42] LaurentAjdnik commented on #132
BTW, this issue does not appear under Pulser on [Unitaryhack Projects](https://unitaryfund.github.io/unitaryhack/participating-projects.html#pulser).

[2021-05-15 21:18] HGSilveri commented on #132
It's okay, any issue goes. This one just doesn't have a bounty on it, but it still counts for the overall competition.

[2021-05-15 21:24] HGSilveri commented on #16
@LaurentAjdnik : I'll review #155 first thing on Monday. And yes, I can add it to the CI no problem. I would advise you to use it to test your own typing as you go. Did you try it already on #155?

[2021-05-16 07:30] LaurentAjdnik commented on #16
Running MyPy on #155 (screenshots below):
* `Register` class: No errors in my code
* `Register` class: Error in `from_coordinates()` on `qubits = dict(enumerate(coords))`
* A few errors in other modules
* Lots of errors on imports with modules having no type hints

With the `--ignore-missing-imports` option:

![MyPy-2021-05-16ignore](https://user-images.githubusercontent.com/83899250/118389170-dee

[2021-05-17 16:38] #100 closed

[2021-05-17 16:38] #126 closed

[2021-05-18 12:00] #132 closed

[2021-05-18 12:00] #146 closed

[2021-05-18 15:07] LaurentAjdnik commented on #16
Hi @TripleR47!

Have you been working on it ?

PR #155 has been approved and type-checked with MyPy beforehand. We could use it as an inspiration.

[2021-05-18 19:03] TripleR47 commented on #16
Yes, I have been going through mypy and Pulser documentations and have started working on the devices module.

@LaurentAjdnik, let's split up the rest of the modules.

[2021-05-19 09:26] HGSilveri commented on #150
Closing this issue, as the channels can't be static as suggested.

[2021-05-19 09:26] #150 closed

[2021-05-19 09:37] HGSilveri commented on #157
Hi @LaurentAjdnik ! Sorry for not getting back to you on this sooner. I'm always in favour of having some systematic way of doing things, so I am on board with this idea.
I do think it needs a bit more fleshing out though, so I propose we stand by until you're done with your current issue and then we can discuss it further, in case you're still up for it. Sounds good?

[2021-05-19 09:41] LaurentAjdnik commented on #16
Great! I'll start working on `waveforms.py` then.

[2021-05-19 10:05] Yash-10 commented on #149
I am finding this issue interesting to solve. Hence, I am going to attempt to solve it.

Thanks!

[2021-05-19 11:40] LaurentAjdnik commented on #16
Hi again @TripleR47!

I just PR-ed #163 on `waveforms.py` for a feedback from experts, that we can use for further work.

[2021-05-19 12:02] sebgrijalva opened #164 "Notebook explaining the visualization options of Sequences"
Now that new functionalities are being added to the `Sequence.draw()` method, it would be nice to have a Notebook explaining the different characteristics, including `sampling_rate` (and its effect in the effective sequence - #122 ), and the role of `t_list` and `eval_t` from the point of view of the sequence being simulated.

This can be also expanded when #149 is ready

[2021-05-19 15:16] LaurentAjdnik commented on #16
Hi again @TripleR47 and @HGSilveri, I start working on `sequence.py`.

[2021-05-19 16:17] TripleR47 commented on #16
Okay, I'm almost done with the devices module, will start working on parametrized and simulation after that.

[2021-05-20 13:43] LaurentAjdnik commented on #16
Great! I'll start working on `_seq_drawer.py`, `channels.py` and `pulse.py` so that the root directory is done.

[2021-05-20 14:42] TripleR47 commented on #16
Okay! I'm done with the parametrized module, start working on simulation next.

[2021-05-20 14:47] HGSilveri commented on #16
Hi @LaurentAjdnik , @TripleR47 ! Glad to see you're making progress.

I just wanted to clarify a few things:
- The order of the PRs  should be in order of increased dependency on other modules. This means, for example, that `pulse.py` should be merged after `waveforms.py` but before `sequence.py`. Also, `pulser.parametrized` should come soon as it is frequently imported but does not import any oth

[2021-05-20 16:42] TripleR47 commented on #16
Okay @HGSilveri, @LaurentAjdnik if you haven't started working on `pulse.py` yet, can I take over that module? After that, I can go for `pulser.simulation`.

[2021-05-21 12:31] TripleR47 commented on #16
Okay, I have also finished the `pulser.simlation`. Let's start working on the test module then.

[2021-05-22 16:59] TripleR47 commented on #16
Hey @LaurentAjdnik, which test modules are you working on?

[2021-05-23 21:04] LaurentAjdnik commented on #16
Hi @TripleR47, I'm done with all files in the root directory.

I haven't planned working on test files.

@HGSilveri: Does it make sense anyway?

[2021-05-23 22:08] HGSilveri commented on #16
I would say no, not really.

[2021-05-24 10:52] TripleR47 commented on #16
Okay

[2021-05-24 14:34] Slimane33 commented on #147
Hello,
I would like to do it.

[2021-05-24 18:44] LaurentAjdnik commented on #157
Hi @HGSilveri, here are some more thoughts about it.

# TL;DR

* 92 errors raised in the `develop` branch
* 8 different error types, but mostly `TypeError` and `ValueError`
* These two can be further refined, depending on why they are raised
* That leads to error messages that could be made more consistent through some kind or "Error Factory"
* Anyhow, we really need to enact guidelines on how to

[2021-05-24 20:32] LaurentAjdnik commented on #148
@HGSilveri: You can assign this one to me, as it is related to #157.

[2021-05-25 07:06] HGSilveri commented on #157
One other thing: I believe that sometimes the built-in errors are abused, mostly out of laziness to not wanting to create a new error class. I would be in favour of being more strict with their definition and raising a custom Error whenever none of the built-in ones are a good fit. Would you agree?

[2021-05-25 09:51] LaurentAjdnik commented on #157
I agree. Custom errors can be convenient when they make sense functionally.

Here, I feel like `MeasurementError` is a must-have. It is closely related to quantic concepts. It would replace three occurrences of `SystemError`.

Maybe also (but not so sure) some kind of `DeviceError` when we manipulate it in an improper way?

Or perhaps (even less sure) something close to `ChannelError` and `Wavefor

[2021-05-25 10:35] LaurentAjdnik commented on #157
Back to the original issue of consistency for error messages.

We could rewrite some of them already.

Here are a few rules for `ValueError` when applied to a threshold:
* Start the sentence with a functional explanation of the parameter
* Include the technical name of the parameter
* Display the given value that caused the error
* Always use `must` instead of `can not`, `should`...
* Use the unam

[2021-05-25 11:46] HGSilveri commented on #157
I think this is great, I have no objections.

My only concern is the size of the error factory call becoming larger than the written message itself, and perhaps it being hard to decipher for someone reading the source code.

Nonetheless, I'm all for this change, I look forward to seeing what you come up with!

[2021-05-25 13:58] paoloviviani opened #177 "Global Rydberg pulse is only single threaded"
I tried to run execute the [UD-MIS tutorial](https://github.com/pasqal-io/Pulser/blob/develop/tutorials/applications/Using%20QAOA%20to%20solve%20a%20MIS%20problem.ipynb) either on the proposed register and on a larger one (10 quits) with longer sequences/more layers.
With typical pulser/qutip installation from pip the single quantum loop runs always on a single core only.

I tried to:

- compile q

[2021-05-25 14:37] sebgrijalva commented on #177
Hi Paolo,

Thanks for raising this issue, indeed, It's interesting to try to run a multi-thread job for Pulser leveraging QuTiP. I will try to reproduce a basic approach and get back to you. We might have to ask the devs at QuTiP too if necessary.

[2021-05-25 20:51] LaurentAjdnik commented on #157
I totally agree. Sorry for not being more explicit. My "we could rewrite some of them already" meant "without a factory".

I'll start working on it soon, first with `TypeError` and `ValueError` (intervals / thresholds).

[2021-05-26 13:15] darcangelomauro opened #178 "Rydberg half radius not showing correctly in conda environment"
Hello,

I'm using Pulser in a conda environment to create registers and plotting them, showing the Rydberg half radius.
For some reason the half radius is shown bigger that it should. The problem does not appear in a Jupyter notebook.

A simple working example is shown in the pictures.

These are the versions I'm working with:
python 3.7.10
pulser 0.2.1
matplotlib 3.4.1

![jupy_pic](https://user-i

[2021-05-26 13:42] HGSilveri commented on #178
Thanks for raising this up @darcangelomauro ! I think this is coming from a transformation from "data" to "display" coordinates that is currently being done, but that can be avoided. I'll open a PR with a fix and tag you for review, so you can test it on your device and see if this behaviour goes away.

[2021-05-26 14:59] HGSilveri commented on #149
Successfully solved by @Yash-10

[2021-05-26 14:59] #149 closed, assigned to Yash-10

[2021-05-26 15:51] HGSilveri commented on #16
So, I was convinced that using "parametrized generics" for type-hinting using built-ins (e.g. `dict[str, Any]` instead of `Dict[str, Any]`) would only work from Python 3.9, but apparently, according to [PEP 585](https://www.python.org/dev/peps/pep-0585/) that's not the case if `annotations` are imported from `__future__`, which can be done since Python version 3.7.

I don't like the inconsistency

[2021-05-27 07:26] TripleR47 commented on #16
Okay

[2021-05-27 07:39] TripleR47 commented on #16
Okay, and what about the special types like Callable, Union etc. Do we have their alternatives in the built-ins?

[2021-05-27 07:41] HGSilveri commented on #16
No, those stay the same. Refer to [this list](https://www.python.org/dev/peps/pep-0585/#implementation) for the built-in generics that replace those in `typing`.

[2021-05-27 07:43] TripleR47 commented on #16
Okay, thanks!

[2021-05-27 07:45] HGSilveri commented on #16
@TripleR47 : From that list, notice that `Callable` actually does change (should be imported from `collections.abc` instead).

[2021-05-27 11:28] sebgrijalva commented on #177
Here's a simple implementation of using multiple cores with Pulser and leveraging QuTiP's `parallel_map()` function:

[code]

Notice that instead of assigning values one by one in a `for` loop (and thus having to redefine several times the `Sequence`instance), I am using a parametrized sequence with variable `rabi`. Then, I will build each sequence according to a given `param`:

[code]

With this

[2021-05-27 11:31] HGSilveri opened #181 "Potential conflict between `pulser.Sequence` and `collections.abc.Sequence`"
From adding type hints, I realized that there are built-in objects called `Sequence`, namely those of `collections.abc` and `typing`. This can create conflicts if we're not careful.

In case we want to avoid this, we will have to consider renaming the `pulser.Sequence` class and deprecating the `Sequence` name.

[2021-05-29 19:12] HGSilveri commented on #16
Solved by @LaurentAjdnik and @TripleR47 , thank you both for your patience and hard work!

[2021-05-29 19:12] #16 closed

[2021-05-31 10:49] LaurentAjdnik commented on #181
What a pity, `Sequence` was such a cool and meaningful name! :grin:

Would the consequences be that bad?

Do you have any clue on how to rename it?

My 20 cents: `Timeline`? `Flow`? `Progression`? `Procession`? `Run`? `Flow`? `Chronology`? `Arrangement`? `Succession`? `Chain`? `Train`?...

Or by concatening `Sequence` with something else? `PulseSequence` ? `Sequencer`?

[2021-05-31 11:02] HGSilveri commented on #181
A bit, considering the central role `Sequence` plays. Virtually all existing user scripts would stop working or raise a `DeprecationWarning` if such a change were to take place.

I was thinking along the lines of a concatenation, yes, something like `PulseSequence` or `PulserSequence`. However, changing the name still sounds a bit drastic to me, specially because this conflict only needs to be tak

[2021-05-31 14:10] TripleR47 commented on #16
@HGSilveri, thanks for your guidance! 😃

[2021-06-01 08:09] sebgrijalva opened #184 "Simulation Configuration as a separate class."
_Originally posted by @lhenriet in https://github.com/pasqal-io/Pulser/pull/161#discussion_r642857978_

This is an interesting suggestion. I already went into this way with the refactoring I was proposing in the Simulation class a couple of weeks ago (#152). A `SimConfig` class (inside the `pulser.simulation` module) would include at least two sets of instructions:

- The *Noise* configuration for

[2021-06-02 13:55] Slimane33 opened #187 "Add a way to export figures from `Sequence.draw`"
I am thinking of adding a feature to the `Sequence.draw()` method in order to be able to export the generated figure like `plt.savefig()`.

[2021-06-02 14:08] sebgrijalva commented on #187
Looks like an interesting option. I personally tweaked the code when adding pictures for the ArXiv note in order to change size, resolution or output type; it was basically a matter setting kwargs in the `plt.plot()` method (which is hidden from the user at the time). Maybe adding that choice in `_seq_drawer` could be a way to proceed.

In fact, the same feature could be added potentially to all p

[2021-06-02 15:56] HGSilveri commented on #187
I think we should consider carefully what parameters and options are actually useful. I think that the ability to save the figure to a file is useful, and perhaps we should also give access to some of the relevant parameters of `plt.savefig()`, but probably not all indiscriminately.

[2021-06-02 16:19] Slimane33 commented on #187
What if we suppress the `plt.show()` at the end of the `_seq_drawer` and return the current `Axes` ? In this way it is an object that the user can later manipulate.

[2021-06-02 16:35] HGSilveri commented on #187
Yes, but it will break the existing usage. I say make `_seq_drawer` return the `Axes`, and then have a method that `draws` it (`Sequence.draw`). and one that saves the plot (`Sequence.savefig`)

[2021-06-03 14:15] julien-bremont commented on #184
I added a new SimConfig class in an attempt to be clearer. It encapsulates noise types, temperature field, number of runs, and solver options, and is part of the simulation module.

[2021-06-03 18:59] paniash opened #189 "Adding a `.gitattributes` file for github linguist"
Hi!

Even though `Pulser` is a python package, on first glance it seems that a large portion of the software is `.ipynb` files as opposed to `.py` files. This gives a false impression of the package being written in jupyter notebooks.

Not that it matters, I'm just being pedantic but would be nice to consider adding a `.gitattributes` file.

[2021-06-03 18:59] paniash commented on #189
If one agrees, I'll be more than happy to open a PR for the same.

[2021-06-04 07:08] HGSilveri commented on #189
Not at all, I agree. Thanks for the suggestion, feel free to proceed with the PR.

[2021-06-04 12:22] paniash commented on #189
Fixed in [` 698d1c6 `](https://github.com/pasqal-io/Pulser/commit/cfeda9d3f00f3ee358e5b27a4c4ca2e201345a0e).

[2021-06-04 12:22] #189 closed

[2021-06-07 20:01] LaurentAjdnik opened #192 "Add a `Raises:` section in docstrings where needed"
As specified in https://google.github.io/styleguide/pyguide.html#doc-function-raises.

Only two functions (in `simresults.py`) currently have such a section, whereas so many of them can raise Errors.

[2021-06-07 20:15] LaurentAjdnik commented on #192
BTW, shouldn't we add https://pypi.org/project/flake8-docstrings/ to CI ?

I tested it locally and the results were... kinda wild...

[2021-06-08 08:22] HGSilveri commented on #192
@LaurentAjdnik , note the last sentence of that link you sent me:

Most errors we raise come exactly from violations of the API specified in the docstring, which is why they are not documented in the docstrings. Nonetheless, there can still be raised errors out there that should be documented and that we missed - if you find any of those, feel free to open a PR adding the respective `Raises` secti

[2021-06-08 09:52] HGSilveri commented on #192
This is a great idea, though it needs some fine-tuning. I'll open a separate issue on it.

[2021-06-08 09:54] HGSilveri opened #193 "Adding flake8-docstrings to CI"
As suggested by @LaurentAjdnik , it's a good idea to add the style checks of `pydocstyle` (through the `flake8-docstrings` extensions) to the CI routine.

[2021-06-08 14:08] LaurentAjdnik commented on #192
Honestly, this sentence does not make much sense to me. What exactly is a "violation of the API" ? And what is not ?

While working on #157, I counted 92 `Error`s raised throughout the code.

From the list I pasted in that issue, can you give me a few examples of what would be, with certainty:
* "Violations of the API"?
* "Non-violations of the API" hence requiring  docstrings?

Right now, I feel

[2021-06-08 14:46] HGSilveri commented on #192
Strictly speaking you're right. Every time we raise a ValueError because a value is, for example, out of range, and we did not specify this range in the docstring, then it's not a violation of the API.

However, there are times when the range is implicit (e.g. when we ask for a `duration`, we don't specify it should be a positive number, but it's obvious it should), and I think in cases like this,

[2021-06-10 16:41] #193 closed

[2021-06-11 07:24] LaurentAjdnik commented on #148
Yup, let's close this one. We might PR a few adjustments in the future but no need to keep this issue open.

[2021-06-11 07:37] #148 closed

[2021-06-14 11:28] #184 closed

[2021-06-14 12:10] HGSilveri opened #203 "Add __getitem__ to Waveform"
The idea would be to have an easy access to the samples of a Waveform, preferentially without computing the full array of samples. Currently, the properties `first_value` and `last_value` do this for the first and last values, but a `__getitem__` would replace them and extend the functionality to the entire waveform.

The keys would be the time in `ns`, also allowing specification from the end (e.

[2021-06-14 15:16] Slimane33 opened #204 "[Bug] 'Pulse too short' on some sequences of pulses"
The following code
[code]

raises for `f(43), f(44), f(45)`

[code]
I don't understand how there can be any duration issue there.

[2021-06-14 15:40] LaurentAjdnik commented on #204
Hi @Slimane33.

I'm investigating on this one and will let you know ASAP.

[2021-06-14 17:51] LaurentAjdnik commented on #204
Let's test the case when `x=45`.

The second pulse on `ch0` occurs from `t=1824` to `t=2004`.

The previous pulse on `ch1` occured from `t=1772` to `t=1824`, which brings us to `t=1992` with the 220ns retargeting time.

Target #0 being used by both channels, the next pulse on `ch1` has to be delayed to `t=2004`, hence a need for a 12ns delay.

This is where the error happens, because 12ns is small

[2021-06-14 18:44] HGSilveri commented on #204
@Slimane33 thanks for spotting this and thanks @LaurentAjdnik for the detailed report.

In fact, the delay that is actually programmed in hardware, so it has to obey that condition. Instead of disabling the check, we should use `np.clip()` to round it up to at least the chosen channel's `min_duration` before validating it.

The `retarget_time` is actually the minimum time that has to occur between

[2021-06-14 20:02] LaurentAjdnik commented on #204
Thanks for you feedback, @HGSilveri.

A few more questions before I PR something.

Why `np.clip()`? `duration` being an `int`, there seems to be no array involved.

Plus, is there an upper bound we should check for? Or is checking against `Channel.min_duration` sufficient?

[2021-06-15 04:27] HGSilveri commented on #204
Just out of convenience, to avoid an if statement. It works for single values just as well.

No, no upper bound to worry about here. If you're using `np.clip`, set the upper bound to `np.inf`

[2021-06-15 08:41] LaurentAjdnik commented on #204
I benchmarked (with `timeit` for 100 000 loops) three options:

[code]

The `if` statement was 180 times faster than `np.clip()`.

Plus, I consider that using straightforward statements always makes code more readable and maintainable.

If you don't mind, I'll PR with this option.

[2021-06-15 09:39] HGSilveri commented on #204
I don't mind of course, go ahead!

[2021-06-15 16:10] #204 closed

[2021-06-15 18:21] LaurentAjdnik commented on #204
Hi @Slimane33. An update has been merged (see #205). Can you check again and let us know if it works now? Thanks!

[2021-06-16 14:24] LaurentAjdnik commented on #203
You can assign me.

[2021-06-16 14:44] HGSilveri commented on #203
@LaurentAjdnik Great! There's a bit of nuance here, but I'm sure you're up to the task. A few pointers:
- We want just `__getitem__`, not `__setitem__`. By design, a waveform should not be changed in-place after initialization
- A big part of the motivation to do this is to save in computation time and/or memory by avoiding computing `samples` or, if it makes sense to compute it, do it just once.

[2021-06-16 14:46] LaurentAjdnik commented on #203
Lots of questions raised indeed. I will draft-PR something soon and we can discuss based on that.

[2021-06-18 14:26] rbstsai opened #207 "Inconsistant behavior when simulating a pulse after a delay"
A bug is detected while some simulations were run and analyzed. We have narrowed it down, and it seems that the delay time has a role to play in the final state. This isn't expected, given that a delay time in the beginning of a sequence shouldn't influence anything.

Below is the implementation of a simple quantum circuit using pulser.
The function create_sequence_with_delay takes the delay_time

[2021-06-18 15:16] sebgrijalva commented on #207
Hi!

This doesn't seem to be a bug in Pulser, but a matter of setting QuTiP's solver options according to your simulation. In your case, try `sim.run(first_step=1)`. Since you are adding a `delay`, the solver chooses automatically the initial step by default and thinks it has nothing ahead. You may check out other parameters in their documentation (https://qutip.org/docs/latest/guide/dynamics/dyna

[2021-06-18 15:40] sebgrijalva opened #208 "Change default value in `max_step` for simulations."
The default value in `max_step` is currently set to 5, which was originally thought as nanoseconds. However, the simulations are now given in microseconds. It should be set to a smaller value or altogether eliminated.

If we eliminate it, the user would now have to be responsible for setting up correct simulation parameters. This hasn't been an issue with the current values for most simulations (t

[2021-06-18 15:47] HGSilveri commented on #208
In the cases where the user does not specify it, I would suggest some sort of sensible criteria. For example, we could check if the Hamiltonian starts off diagonal and, in those cases, set `max_step` to a value to avoids the behaviour of #207, instead of relying on the solver to decide the value.

[2021-06-18 16:00] sebgrijalva commented on #208
Another option is to check all (or keep track of) the duration of delays and pulses and set `max_step` to half the minimum value. However I haven't checked about any cost a small maximum step would have in run time.

[2021-06-25 08:49] HGSilveri commented on #151
Solved with #197 and #199 .

[2021-06-25 08:49] #151 closed

[2021-06-25 08:50] HGSilveri commented on #152
Solved with #197 and #199 .

[2021-06-25 08:50] #152 closed

[2021-06-25 12:21] julien-bremont opened #216 "Tutorial - Noisy simulations in Pulser"
Design a Jupyter tutorial demonstrating the simulation of noisy sequences in Pulser.

[2021-06-25 14:39] #31 closed

[2021-06-25 15:02] HGSilveri opened #217 "Write tutorial on InterpolatedWaveform and incorporate them into the optimal control tutorial"
With the addition of the `InterpolatedWaveform` in #210 , it would be good to have a tutorial for the documentation explaining how to use it.

Also, the tutorial on optimal control with Bayesian optimization can be updated to showcase the new features.

[2021-06-25 16:34] LaurentAjdnik opened #218 "BlackmanWaveform.from_max_val(): Side-effect of adjusting for rounding errors"
I have been wondering about this in `BlackmanWaveform.from_max_val()`:

[code]

We check `_scaling` against `max_val`, based on the hypothesis that the max value of the samples is always 1.

But the `numpy.blackman()` [documentation](https://numpy.org/doc/stable/reference/generated/numpy.blackman.html) states that "**the value one appears only if the number of samples is odd**".

Hence, the curren

[2021-06-25 17:41] LaurentAjdnik commented on #107
Here are my 20 cents. :grin:

Foreword: There's already a `change_duration()` method in the parent class, raising a `NotImplementedError`. We could keep this name instead of `setnewduration()`.

`ConstantWaveform` and `RampWaveform`: Pretty straightforward.

`CustomWaveform`: Would not make much sense. Raise a `NotImplementedError`?

`BlackmanWaveform`:
* When created with `from_max_val()`, there

[2021-06-28 07:41] HGSilveri commented on #218
@LaurentAjdnik this is an interesting point. The most important thing about this method is that the resulting waveform does not go over the given maximum value. That being said, it's okay to get as close to it as possible, so I'm okay with implementing this correction if it's done in an efficient way.

However, bear in mind that the values you are considering here are substantially above what can

[2021-06-28 08:18] HGSilveri commented on #107
Hi @LaurentAjdnik , thanks for reminding me of this somewhat forgotten issue. Indeed, many of the features suggest here have been implemented in the meantime, in some shape or form.

One thing to note about `change_duration()` is that its main purpose is to adapt the duration of a waveform when it is added to a channel, if its duration is not compatible with the channel's `clock_period` and `min_d

[2021-06-28 08:36] LaurentAjdnik commented on #107
Thanks for the feedback.

So I guess we can close this issue?

[2021-06-28 09:00] LaurentAjdnik commented on #218
I felt there would be something like that but I was unsure of it.

The problem arises with smaller max values when the area gets smaller.

For instance with `area = π / 6`, the result is suboptimal starting at `max_val = 46`:

[code]

Here again, I don't know if such an area value is relevant in real life, but it's always a pity to leave a "flaw" that can become problematic later on.

Well... Ever

[2021-06-28 09:01] HGSilveri commented on #107
Yup!

[2021-06-28 09:01] #107 closed

[2021-06-28 09:03] HGSilveri commented on #218
I think that sounds reasonable, go ahead!

[2021-06-28 13:54] HGSilveri commented on #192
@LaurentAjdnik is it okay if I close this issue?

[2021-06-28 14:31] #181 closed

[2021-06-28 14:42] LaurentAjdnik commented on #192
@HGSilveri: Shall we open this specific issue? I agree there would be some (= a lot of?...) fine-tuning before the results are satisfying.

More generally, I think there are places where we could/should add somes `Raises:` in the docstrings but I haven't really thought about it yet.

[2021-06-28 14:46] HGSilveri commented on #192
@LaurentAjdnik Actually, I already took care of that one (see #193 and #194).

Alright, I'll leave it open. Do you want me to assign you then?

[2021-06-28 15:56] HGSilveri opened #220 "Have a simulation with only measurement errors return CoherentResults instead of NoisyResults"
Currently, when a simulation includes `SPAM` noise, it returns a `NoisyResults` instance. However, when there are only measurement errors, the results could actually be given as `CoherentResults`. As such, we are currently throwing away information that could be given to the user.

Naturally, every time `doppler`, `amplitude` and/or "preparation" errors are present, the result has to be given as a

[2021-06-28 16:00] HGSilveri opened #221 "Make noisy simulation more efficient under specific circumstances"
PR #199 added the option of including several types of noise to the simulation.

When noise is specified, the current implementation generates a new Hamiltonian before each run, which allows us to introduce random noise into it. However, such random noise is only strictly necessary when either `doppler` and/or `amplitude` noise are involved, as those are the two types of noise that are simulated t

[2021-06-29 14:37] #218 closed

[2021-06-30 10:33] #220 closed

[2021-07-01 10:16] HGSilveri opened #228 "Implement Kaiser waveform"
### Discussed in https://github.com/pasqal-io/Pulser/discussions/227

<div type='discussions-op-text'>

<sup>Originally posted by **LaurentAjdnik** July  1, 2021</sup>
Hi all!

From https://arxiv.org/abs/2104.15044:

`In practice, a properly shaped waveform—like the Blackman waveform, which we will use here — can mitigate unwanted modifications to the modulated signal, stemming from spectral leaka

[2021-07-01 10:17] HGSilveri commented on #228
@LaurentAjdnik please comment on this so that I can assign it to you

[2021-07-01 10:25] LaurentAjdnik commented on #228
Me, me, me. 😆

[2021-07-01 11:43] HGSilveri commented on #164
These will rather be displayed on the notebooks, when pertinent. Current status:
- `draw_phase_shifts` is shown on the tutorial on Phase Shifts and VZ Gates
- `draw_interp_pts` is shown on the tutorial on Interpolated Waveforms (#224)
- `draw_phase_area` should be included on a tutorial on digital quantum computing (the CZ implementation, perhaps?)
- `Simulation.draw()` will be shown on the tutori

[2021-07-02 09:43] #217 closed

[2021-07-08 09:32] #207 closed

[2021-07-08 09:32] #208 closed

[2021-07-09 13:53] #216 closed

[2021-07-13 08:38] #145 closed

[2021-07-13 08:38] #164 closed

[2021-07-13 14:05] #228 closed

[2021-08-03 13:09] HGSilveri commented on #147
**Status update:**

Support for XY Simulation has been successfully added and is currently residing in the `xy-simulation` branch. Since the work on this feature started, the `develop` branch has diverged to incorporate support for noisy simulations. Therefore, the changes in `xy-simulation` now need to be reconciled with those in the `develop` branch, with the goal of ultimately merging `xy-simul

[2021-08-05 15:00] HGSilveri opened #244 "Incompatibility between setting of an initial state and having state preparation errors on a simulation"
The current release allows the user to set a custom initial state and a configuration that includes state preparation errors. However, the way a "badly prepared" state is based on pretending that it is left on the ground-state the entire time, with no terms in the Hamiltonian acting on it. This means that a custom initial state preparing some atoms on a state other than the ground is in a potentia

[2021-08-10 08:52] HGSilveri commented on #244
We decided to just forbid the combination of the two modes, ie not to pursue either of the more elaborate options.

[2021-08-10 08:52] #244 closed

[2021-08-10 08:55] HGSilveri commented on #147
**Status update**:

The `xy-simulation` has been (apparently) successfully merged into `noisy-xy` (which was branched from `develop`). This issue can then be closed once `noisy-xy` is merged into `develop`.

[2021-08-10 11:53] HGSilveri opened #248 "SLM mask for partial register addressing with a Global channel"
When working in the XY mode, all the atoms start off in the "down" state by default. Due to the lack of a `Microwave.Local` channel, they currently cannot be prepared into another initial configuration through Pulser.

However, experimentally it is possible to prepare the system in specifc initial configurations by overlaying an SLM pattern that brings certain atoms out-of-resonance with the micro

[2021-08-11 15:03] HGSilveri commented on #248
@darcangelomauro indeed, that's what the I was trying to convey with `align_with_channel` argument: that you would "align" the moment when you turn on the SLM with the time the chosen channel is free (i.e. it's last instruction ends). Does it make sense?

[2021-08-11 15:24] darcangelomauro commented on #248
Ok I see, thanks.
Could that bring to a situation where the slm turns on and off in the middle of a different pulse than the one it's aligned with?
And should I be mindful in general of a user potentially mixing together microwave and rydberg/raman channels in the same sequence?

[2021-08-16 09:11] Louis-PaulHenry commented on #153
Now that I'm thinking about it. Another way to solve this issue would be to discard the sampling times altogether and to build the Hamiltonian QobjEvo by giving the functional dependence of the coefficients. This way Qutip doesn't do any interpolating

[2021-08-16 14:46] Adrien-Kahn opened #249 "Classical simulation does not allow simulation time equal to the duration of the pulse"
When simulating a 4ns sequence, `res.states` only contains 4 states, including the initial state. However, since 4 values for the Hamiltonian were provided, the initial state could be updated 4 times, so that we would have a total of 5 states in `res.states` with the initial state.

Manually setting the `evaluation_times` of the `simulation` does not help because the setter checks that the largest

[2021-08-17 09:42] darcangelomauro opened #250 "Global Ising with noise and local Ising channels might overwrite on each other"
A global pulse with any noise (but dephasing) is translated into a local pulse on each qubit.

The way the code is written now, if a local Ising pulse and a global Ising pulse with noise act on the same qubit at the same time, the two pulses do not add, but rather the last one that is processed overwrites the other.

Attached you can find a minimal working example.

[noise_bug.ipynb.zip](https://g

[2021-08-17 09:53] Adrien-Kahn commented on #249
Here is a minimal working example:
[code]

Output:
[code]

The first value corresponds to the initial state, so we are only given 3 updated states, while 4 values for the Hamiltonian were provided.

[2021-08-17 12:49] Adrien-Kahn opened #251 "`progress_bar` option in `Simulation.run` is not a boolean but either `None` or `True`"
This a very minor issue that is just about a small problem in the documentation. Concerning the `progress_bar` option of `Simulation.run`, the documentation states that it is a boolean, however, by the way it is used in `sesolve`, it must be either `None` or `True` (or a `BaseProgressBar` object). A value of `False` will raise an error.

Here is the relevant extract from the source code of `sesolv

[2021-08-17 15:09] sebgrijalva commented on #250
Here's the minimal code explicit for future reference and testing:

[code]

One should get `True` from the final assertion.

[2021-08-17 15:13] sebgrijalva commented on #250
This one seems fit for a hotfix into the `master` branch. I will create the corresponding branch. To be sure I'm not skipping any places where this is corrected, would you like to fix the bug, @julien-bremont ?

[2021-08-18 15:19] darcangelomauro commented on #250
I might be wrong, but the fix could be as simple as replacing `=` with `+=`  in the following block:
[code]
in `Simulation.write_samples`

[2021-08-23 09:01] darcangelomauro commented on #250
I believe in @sebgrijalva's minimal example one should compare the off-diagonal components of the Hamiltonian, not the whole thing, because doppler noise adds a random detuning term.

So something like this:

[code]

where the last statement should return `True`

[2021-08-25 11:53] darcangelomauro commented on #250
I added a pull request for the issue directly into `master`, correct @sebgrijalva?

[2021-08-25 12:08] sebgrijalva commented on #250
Yes, hotfixes are meant to be only from and back to the `master` branch. Unfortunately you merged `develop` to the hotfix branch and this should be avoided until we are ready to merge many new changes to `master`.

But since its such a minor difference this time, I can edit the difference.

[2021-08-25 12:21] sebgrijalva commented on #250
Closed by #254

[2021-08-25 12:21] #250 closed

[2021-08-25 15:40] darcangelomauro commented on #248
Update on the state of the issue. What I'll describe has been pushed on the `slm_mask` branch, branched from `noisy-xy`.

`Sequence` has now two new attributes, `Sequence._slm_mask_targets` and `Sequence._slm_mask_times`.
`Sequence._slm_mask_targets` is a set of qubits that specifies which qubits will be masked.
`Sequence._slm_mask_times` is a list of the type `[[t_1_i, t_1_f], [t_2_i, t_2_f], ...

[2021-08-30 15:49] darcangelomauro commented on #248
After consulting with hardware, I think it is best for now to limit the use of the SLM mask to initial state preparation.
The effect of the mask it's not as simple as switching on and off atoms in the register. When the mask is applied to superposition states, a relative dynamical phase is accumulated which might be hard to control.

[2021-08-30 16:53] Adrien-Kahn opened #257 "Implementation of `Register.max_connectivity` with tabulated circle packings"
Currently, `Register.max_connectivity` is implemented with a triangular lattice which is not optimal, in particular for small number of atoms.
The problem of creating a register with maximum connectivity (more precisely, to minimize the maximum distance between two atoms) can be reformulated as the [circle packing problem](https://en.wikipedia.org/wiki/Circle_packing_in_a_circle), where one tries

[2021-08-30 20:14] sebgrijalva commented on #257
Hi @Adrien-Kahn , this is an interesting topic of itself since the array geometry has consequences on many properties of the phase diagram of the ground-state as well as the "resource" hamiltonian of quantum optimization problems. In the N=4 case you describe, the square packing gives 4 "connections" or "edges", whereas the triangular lattice gives 5. `max_connectivity` (as discussed in #132 ) tri

[2021-09-08 09:34] Louis-PaulHenry commented on #153
Using the `_step_func_coeff` argument in `sesolve` only gives a ~20% speedup when the Pulse is *completely* piecewise constant. Otherwise, it only gives a small increase in accuracy, at the expanse of a large slowing down of the computation.

Here is a short notebook illustrating the effect :
[pwc.ipynb.zip](https://github.com/pasqal-io/Pulser/files/7127711/pwc.ipynb.zip)

[2021-09-08 13:43] darcangelomauro opened #263 "Change the way we modify attributes in frozen dataclasses"
Frozen dataclasses do not allow class attributes to be modified.
However, sometimes in the code we need to override that behaviour.

For example, the `Device` dataclass is frozen:
[code]

but `__post_init__` modifies an attribute:
[code]

Following [this](https://stackoverflow.com/questions/60699202/python-frozen-dataclass-allow-changing-of-attribute-via-method) discussion of Stack Overflow, there

[2021-09-15 09:35] HGSilveri commented on #257
Let's close this one for now.

[2021-09-15 09:35] #257 closed

[2021-09-21 08:22] #147 closed

[2021-09-21 08:22] #248 closed

[2021-09-21 08:50] darcangelomauro opened #265 "Sequence drawing with masked register"
Right now the SLM mask is drawn as a shaded background on the first pulse of the sequence, with the id of the masked qubits written in the bottom left corner.

One idea would be to show the mask on the register graph as well, highlighting which qubits are masked. The issue is that `Register` doesn't have access to the SLM mask, only `Sequence` does. A possible solution would be to add a representa

[2021-09-21 09:01] sebgrijalva opened #266 "Adapt SLM mask to Ising configuration"
With the recent addition of this feature in the XY configuration (#258), most of the structure is adaptable to the Ising mode. This could be potentially useful for applications.

[2021-09-29 08:20] Louis-PaulHenry opened #267 "Implementation of 3D register"
Even though our device is not yet compatible with 3D registers, it seems to be a rather straightforward improvement to allow for the creation of 3D registers

[2021-09-29 08:22] Louis-PaulHenry opened #268 "Change/choice of n / Customisation of C_6"
The value of the interaction constant C6 is currently arbitrarily set. It might be useful to allow for the choice of a difference Rydberg level, and therefore a different value of C6 (as well as potentially introducing an anisotropic interaction in the case of D and P states)

[2021-09-29 14:39] Louis-PaulHenry commented on #267
We talked a bit about it. The problem is two-fold :
- Adapt the construction of the Hamiltonian (this one should be very straightforward!)
- Adapt the `draw()` method to 3D registers. The main idea right now is to restrict the method to 2D registers by either creating 2 separate subclasses, or by adding a parameter to the existing class. But one could think of either representing the register in p

[2021-10-05 08:25] Slimane33 commented on #187
It could be also nice to export the register figures

[2021-10-05 13:56] LucasGitQ commented on #268
One way to do it without importing the whole ARC package (used to compute exactly C6) would be to precompute C6 for n=50,...,100 for instance and add a file with all those values in the **devices** folder. Then interaction_coeff = C6_list[rydberg_level]. Then a way to change an attribute of a frozen class is needed (see https://github.com/pasqal-io/Pulser/issues/263#issue-991155712). With this, a

[2021-10-06 14:50] sebgrijalva commented on #249
While implementing these changes, there appeared some issues related to the interpolation of the call method of the `QobjEvo`. I'm still working on this, but it will take longer than expected.

[2021-10-11 11:31] HGSilveri opened #274 "Not blocking the creation and addition of pulses with zero duration"
When doing a sweep over the duration of a pulse, users often want to start with a duration of 0. This is currently blocked at the moment the waveform is created (and meaningfully so, as it is undefined in many cases what exactly a waveform with zero duration is).

Ideally, we would not allow the creation of waveforms with zero duration under normal circumstances, but could potentially allow it in

[2021-10-12 08:35] HGSilveri opened #275 "Use SLM Mask on XYZ Tutorial"
Use SLM mask for initial state preparation. Also fix on typo in the axes labels of one plot.

[2021-11-03 10:02] Louis-PaulHenry opened #277 "Custom labels in Register.from_coordinates()"
Right now, `Register.from_coordinates()` only accepts labels customization through a prefix. It would be nice to allow for custom list of labels. In particular it would make the conversion from Register3D to Register way cleaner.

[2021-11-03 10:54] HGSilveri opened #278 "Creating a Register from a specific layout"
For multiple reasons, it would be valuable to have register created from an underlying, predefined ~~pattern~~ layout, rather than with arbitrary coordinates.

There are a lot of different things to do here, but the first would be to create the foundational class that stores the layout. We could call it `Layout` or `RegisterLayout` and it would store all the coordinates of a layout.

Then, the lay

[2021-11-07 15:56] LaurentAjdnik commented on #278
This is gonna be fun 😄!

Would it always be the creation of a `Register` from scratch?

Or should we be able to add patterns to an existing prefilled register?

Especially if we want to add a first set of patterns then another set of patterns to the same `Register`.

In fact, more generally, should we have a simple option to merge registers?

[2021-11-07 16:01] LaurentAjdnik commented on #278
Maybe also an attribute, or different classes inheriteance (Pattern2D, Pattern3D), if some patterns are considered only 2D/3D ?

How would the coordinates be considered ?
- "Bitmap approach" : Absolute values in micrometers, like when creating a register?
- "Vectorial approach" : Relative values (1.0 meaning standard spacing) to which you apply some scaling ratio when instanciating the pattern?

[2021-11-07 16:04] LaurentAjdnik commented on #278
I have the feeling this should be as generic as possible. Either as a method at the very top of the Pattern classes hierarchy, or even as a separate class.

So that Pattern classes remain as simple as possible and do not include any specific methods.

[2021-11-07 16:05] LaurentAjdnik commented on #278
Would that always be necessary? Can't we achieve rearrangement with more sites occupied?

[2021-11-07 16:16] LaurentAjdnik commented on #278
What would/could be the set of criteria?

The only ones I can think of right now is:
- the distance between atoms (only if we have a "bitmap" approach)
- the 2D/3D nature

Anyhow, the resulting `Register` is currently always checked for compatibiliy with the `Device`, which is the best safeguard.

And this is probably when we will get the most errors (too many atoms, atoms too close or too far way

[2021-11-07 16:30] LaurentAjdnik commented on #278
I do not really see how we could use "instances of the same pattern class" so I would agree with you that "child classes" is the way to go.

Each pattern will be extremely specific. Maybe we'll end up needing an `EiffelTowerPattern`.

But that raises another question. Let's imagine a `RectanglePattern` class. If you specify a certain Width and Height, you can always partially adjust this by scalin

[2021-11-07 16:41] LaurentAjdnik commented on #278
One more thought: How exactly would be replicate a pattern?

Let's consider a super-simple `SquarePattern` that defines 4 atoms on a 2D plane, separated by 1 micrometer.

Let's include this pattern once. Now we have points at, let's say: (0,0) (0,1) (1,0) and (1,1). Thats is bottom-left corner on (0,0).

What if we were to repeat it twice along the x axis? Where would the "bottom-left" corner be f

[2021-11-07 16:42] LaurentAjdnik commented on #278
And finally, after spending the last 45 minutes on this, I realize you never openly mentioned "repeating the pattern" so I might have misunderstood what you meant, haha. But I hope some of the things I wrote still make sense. 😆

[2021-11-08 09:05] #277 closed

[2021-11-08 09:49] HGSilveri commented on #278
Hey @LaurentAjdnik ! Indeed, there seems to be some misunderstanding regarding the concept of Pattern. The idea is that it encompasses all the positions in which you can place the atoms, and then the `Register` would just be the result of choosing a subset of such positions. So, you make a whole `Register` out of a single pattern, rather than from combining or repeating patterns

[2021-11-08 09:53] HGSilveri commented on #278
Yes, I would go for a clear distinction. But perhaps we should stick to just 2D for now in any case, we'll see

I would go for the vectorial approach, it's clearly more versatile.

[2021-11-08 09:57] HGSilveri commented on #278
This is related to the need of having a pattern to start with, which I didn't get into here. The pattern is actually representing the positions in space where we are positioning all the optical traps. These traps are then loaded with atoms, and each has ~50% chance of being filled. We then take the atoms we got and move them around to the positions we want them in. So, if you want to prepare a reg

[2021-11-08 10:00] HGSilveri commented on #278
I agree, the validation of a pattern is not really necessar

[2021-11-08 10:09] HGSilveri commented on #278
Borrowing your `RectanglePattern` example, my idea would be to have it parametrized with as little parameters as possible, with a combination of parameters representing a specific set of coordinates. So, `RectangularPattern` would be the class of recatangular arrays, but what you would use to create a `Register` from would actually be an instance of `RectangularPattern`, which we could parametrize

[2021-11-08 10:10] HGSilveri commented on #278
Hahaha yes, there seemed to be some misunderstanding. I replied to the points that I feel still make sense

[2021-11-09 14:54] #187 closed

[2021-11-16 13:44] LucasGitQ commented on #268
#281

[2021-11-18 09:17] #265 closed

[2021-11-22 13:21] #268 closed

[2021-11-25 10:16] #249 closed

[2021-11-25 10:38] HGSilveri opened #284 "Reorganize and Review Tutorials"
- [x] Reorganize the tutorials into more specific folders, `applications` is too vague at this point
- [x] Review that they are all running well after all changes to `develop` are concluded

[2021-11-25 12:45] #221 closed

[2021-11-25 12:53] sebgrijalva commented on #284
I can help with reviewing the tutorials, specially some of the older ones.

[2021-11-25 15:44] HGSilveri commented on #284
Thanks, that would be helpful, specially since the `interaction_coeff` increased slightly and I'm not sure of the effect that will have. At the least, I've been seeing some `ODEError`s.

I don't know what the best way to do this will be though. There are some tutorials that are intentionally left without output, so we should check their output explicitly in the built docs. The ones that take longe

[2021-11-26 12:54] HGSilveri opened #288 "Write tutorial showcasing the SLM Mask"
- Write a tutorial to go in the `advanced_features` folder, which shows how the SLM mask works and what it can be used for.
- Include it in the docs

Start only after #286  and #287 are merged.

[2021-11-26 12:58] HGSilveri opened #289 "Ensure Simulation is working with the `Register3D`"
@Louis-PaulHenry already verified this for the Ising, but I've noticed that it won't work for the XY (e.g. the `make_xy_term` is enforcing 2D coordinates).

We have two options:
- Change the code so that the XY works too (if easy)
- Block simulation of sequences on XY mode with 3D Registers (if hard)

[2021-11-29 08:54] #266 closed

[2021-11-29 09:08] #263 closed

[2021-11-29 09:10] HGSilveri commented on #288
All necessary changes have been merged, this is ok to proceed

[2021-11-29 15:08] #289 closed

[2021-11-30 11:00] #288 closed

[2021-11-30 19:24] #275 closed

[2021-12-02 08:08] #284 closed

[2021-12-08 11:54] HGSilveri opened #296 "Add Channel specific buffer times for retargeting and phase jumps"
Realistically, hardware channels will require some buffer time to update their output. Two particular instances where that is relevant are:
- Retargeting: Right now, there is a variable retargeting time being enforced based on the time of the last retargeting. In addition to this, it is also possible that some channels take an intrinsic, fixed time to retarget. This time should be added in the pre

[2021-12-08 11:58] HGSilveri opened #297 "Create new Device instances"
Following the changes in #134 and #296, we will add new, more realistic device instances. Specifically:
- `Fresnel`, which will feature only global channels
- `FresnelPlus`, which will also have local channels that will feature the newly added constraints

[2021-12-16 15:20] HGSilveri opened #299 "Enable serialization for Register3D"
The `Register3D` class was added with a `_to_dict()` method, which prevents it from being serialized. The task here is simply to add this method, along with the relevant tests.

[2021-12-17 15:53] darcangelomauro opened #301 "`create_random_graphs` function in qek tutorial doesn't populate the graph list"
The function `create_random_graphs` defined in the qek tutorial generates random ER graphs and returns graph list, graph class and probability distribution of occupation number.
The graphs generated however are never appended to the graph list, that returns empty.

[2022-01-03 11:58] HGSilveri opened #303 "`numpy` 1.22.0 is not compatible with `qutip`"
It seems that the latest release of `numpy` (version 1.22.0, released on 31/12/2021) breaks the compatibility with `qutip`, right on import. Specifically, I'm seeing this error:

[code]

I've found that downgrading `numpy` to version 1.21.5 fixes this, so for now I will enforce this in `requirements.txt` and in `setup.py`. I will do this as an hotfix and make a new release, to make sure new `pulse

[2022-01-03 16:51] #301 closed

[2022-01-04 10:08] #303 closed

[2022-01-13 15:07] #296 closed

[2022-01-20 13:01] #299 closed

[2022-01-21 15:36] bejito opened #308 "Add a new IroiseMVP device"

[2022-01-25 14:33] lvignoli opened #310 "Type hints for (many) decorated functions"
Many methods are not hinted correctly by vscode [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) language server, and I believe the situation to be the same with other LSP and different context.

Here are some examples among others:

<img width="543" alt="Capture d’écran 2022-01-25 à 14 40 23" src="https://user-images.githubusercontent.com/97944962/15098869

[2022-01-25 14:47] HGSilveri commented on #310
@lvignoli Did you check if `mypy` complains if you remove the types from the decorators?

Do you mean this?
[code]

It's just installing these two packages only when the version is 3.7, because they are built-in from 3.8 on. However, I would say that including version 3.10 only changes is a bit premature, so I would go with removing the type hints from the decorators if possible.

[2022-01-25 16:30] lvignoli commented on #310
@HGSilveri I have checked `mypy` and it does complain of the lack of types...

## Naive fix

Remove all type annotations and add `type: ignore` to prevent `mypy` complaining.

- it restores the correct hinting and Pylance suggestions
- `mypy` do not complain, as it does not check anything...

## Better fix

1. `*args` and `**kwargs` may be typed using `str` and `int` respectively as specified in [

[2022-01-25 16:40] HGSilveri commented on #310
I think this is given as an example to show that you can type `*args` and `**kwargs`, but it's only valid if they are always the types you specify.

I agree, if we do find type abuses we should fix them. Can you please make sure that what you were getting was not because of the type hints for `*args` and `**kwargs`?

[2022-01-25 17:00] lvignoli commented on #310
Indeed, I read too fast and thought it was a stub for unspecified types, but Any is already there, so my mistake...

Putting `Any` on `*args` and `**kwargs` do not change `mypy` complains about `test_parametrized.py`. It seems the cast to `Callables[..., Any]`of the wrapper — along with the `Any` on the arguments — is enough to make the correct types flow in the code.

You may checkout [this branc

[2022-01-26 14:10] #310 closed

[2022-02-02 12:20] HGSilveri opened #313 "Upgrade black to 22.1.0"
The new major release of black formats existing files and should be taken care of in a dedicate PR.

[2022-02-02 15:01] #313 closed

[2022-02-02 16:44] HGSilveri opened #315 "Add option to simulate a Sequence with the modulated output"
#312 introduces output modulation into Pulser. The next logical step is to use the expected output to get more reliable results out of a simulation. Important notes:

- The option to choose between using the input or the output samples should be given upon initialization of `Simulation`. For consistency with the current behaviour, the default should be to use the input.
- In principle, this change

[2022-02-07 09:22] Codoscope opened #317 "Ship types for users of the library"
Currently, users of the library cannot benefit from the type hints of the library with mypy. I propose to add the relevant configuration files.

`ud_mis.py:11: error: Skipping analyzing "pulser": module is installed, but missing library stubs or py.typed marker`

[2022-02-07 09:33] HGSilveri commented on #317
Good idea! Did you check that it's working locally now?

[2022-02-07 09:53] #317 closed

[2022-02-07 15:46] lvignoli opened #319 "Various formatting issues"
There are various formatting issues:

- the code in notebooks is not formatted by black
- imports are sorted in a very conservative way by black, which let them messy
- some files could be formatted systematically, like markdown ones

I propose adding the following requirements to the project:

- `black[jupyter]`
- `isort`

and format some other files.

[2022-02-07 16:05] lvignoli opened #321 "Documentation theme"
I suggest using a more modern documentation style, to increase legibility but also attractiveness ✨.

Moreover, the current readthedocs `sphinx_rtd_theme` style behaves poorly on large screen size:
![Capture d’écran 2022-02-07 à 17 00 04](https://user-images.githubusercontent.com/97944962/152824482-fc4cde5a-cec5-41ff-8133-e002eabe5cbb.png)
Compare this to for example [`furo`](https://sphinx-them

[2022-02-07 16:24] HGSilveri commented on #321
I agree that the large screen size behaviour is annoying, but I must say I'm not a big fan of the `furo` design. I also think a point should be made in favour of ReadTheDocs for its widespread use and consequent user-familiarity.
How about we select a few candidate themes and have an informal election?

[2022-02-07 16:33] lvignoli commented on #321
Yes ReadTheDocs is widespread, but for me it is not a pro actually ; it shouts "good old python" rather than "up to date maintained package".

It's really a matter of taste, so that would be the nicest way to do so!

[2022-02-07 17:25] #134 closed

[2022-02-07 19:42] lvignoli commented on #319
It seems there is [this extension](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) for jupyterlab. I will try to test it tomorrow.

I actually have another branch with some enhancements for the development environment, one of them offering a git pre-push hook that check for black, flake8, mypy, tests, etc before actually allowing a push. I'll make a distinct PR, as it is not exactly t

[2022-02-08 09:37] #319 closed

[2022-02-09 16:39] Codoscope opened #325 "Give consistent behavior to variables"
Currently, an instance of the class `Variable` can have two different behaviors, depending on whether its size is 1 or greater. This dynamic polymorphism can be annoying when trying to treat the instance only relying on its type. For example, from qaoa_mis, we have to write a specific condition to make sure `t_list` and `s_list` will be iterable. It's cumbersome, and makes it impossible to correct

[2022-02-15 13:05] #325 closed

[2022-02-17 10:30] HGSilveri opened #332 "More flexible sequence drawing"
Currently, sequence drawing always has a curve for amplitude and another for detuning, in spite of the fact that detuning is sometimes not used and thus could be omitted.
On the other hand, jumps in phase could be sometime that would be useful to track, especially considering that it is also affected by channel modulation.

The idea here is to enable the drawing function to assess which quantities

[2022-02-22 10:01] #278 closed

[2022-02-23 10:54] Codoscope opened #335 "Select a coding style for instance attributes definition"
We had a discussion with @HGSilveri about where instance attributes should be type annotated. I dug a bit more on the subject, and here is what I can come with:

1. declare attributes at class scope:
[code]
   the cons is often circumvented by UTs, and it would be fixed with https://github.com/python/mypy/issues/4019
1. declare attributes at the top of `__init__` (what is done here): same pro in a

[2022-02-23 13:29] lvignoli commented on #335
It’s easy to prevent 4.: just never ever use a mutable default value

[code]

[2022-02-23 13:40] lvignoli commented on #335
While 1. Is the most readable and pleasing to me—and I would really like to be able to do so blindly—I think 3. is the safest and simplest choice.
Otherwise there is a great confusion between the instances and class attributes, and we are dangerously close to case 4 with bad bugs.
Moreover if you have many properties defined on your class, the whole point of grouping attributes makes little sense.

[2022-02-24 15:59] lvignoli commented on #321
Some alternatives, see [sphinx-themes.org](https://sphinx-themes.org) for a full list:

**ReadTheDocs**
![152824482-fc4cde5a-cec5-41ff-8133-e002eabe5cbb](https://user-images.githubusercontent.com/97944962/155560196-4cb6a141-041b-4649-888a-ddec550975a5.png)

**Books**
![Capture d’écran 2022-02-24 à 16 49 44](https://user-images.githubusercontent.com/97944962/155560349-5ad985f7-e8d0-40a9-9f61-fa14

[2022-02-25 08:55] #308 closed

[2022-03-02 16:02] #321 closed

[2022-03-02 16:17] MatthieuMoreau0 opened #341 "Raise custom exception when serialized sequence validation fails"
Right now, a `SystemError` is raised when the validation of a serialized sequence fails as seen here in the [code](https://github.com/pasqal-io/Pulser/blob/develop/pulser/json/supported.py#L88).

Looking at the documentation of SystemError in the [python built-in exceptions](https://docs.python.org/3/library/exceptions.html#SystemError) this exception doesn't really seem to match the issue we want

[2022-03-02 16:21] HGSilveri commented on #341
Yes, that's fine with me! And thanks for offering to take care of it.

I would suggest something like `SerializationError`, or `PulserSerializationError` to be even more specific. You can place it inside the `pulser.json` module.

[2022-03-04 13:46] lvignoli opened #342 "Sequence sampler component"
Samples of `Sequence` instances are currently computed in place in the `Simulation` class and in the `_seq_drawer` function as well. This gives [two](https://github.com/pasqal-io/Pulser/blob/8d0c4296348be414da1793eb3ece174422d0158b/pulser/simulation/simulation.py#L408) [pieces](https://github.com/pasqal-io/Pulser/blob/8d0c4296348be414da1793eb3ece174422d0158b/pulser/_seq_drawer.py#L32) of code dedi

[2022-03-07 09:00] HGSilveri commented on #342
A couple more concrete ideas to consider here:
- The `SequenceSampler` (maybe we should call it this, I'll just adopt the name for now) should be initialised with just the `Sequence` instance, and then be capable of returning the samples according to the parameters given to its method(s)
- I don't know yet if it makes more sense to have a single public method to return the samples (where everythin

[2022-03-14 18:21] lvignoli commented on #342
@HGSilveri, I have opened PR #345 as a proposal implementation.

I wrote a different design that is not class-based, let me know what you think of it.

[2022-03-22 11:19] lvignoli opened #349 "Sequence sampler feature extension"
The sequence sampler added by #345 deserves the following features

- [ ] a notebook to demonstrate its use and extend the User Guide
- [x] multiple output format: for now it give only the nested dict form required by the simulation module
- [x] a better way to specify the sampling-related noises
- [x] add the possibility to specify the sampling rate

It would then be possible to use it in the `si

[2022-03-24 08:10] #341 closed

[2022-03-28 16:41] #342 closed

[2022-03-28 16:51] lvignoli commented on #315
Modulation is now handled at the sampler level with the merging of #345.
Issue #349 tracks the progress of using the sampler in simulations.

[2022-03-30 09:45] darcangelomauro opened #352 "SPAM errors introduce large simulation overhead"
Doing simulations with SPAM errors introduces a significant time overhead dependent on the `samples_per_run` argument, which was intended to give extra statistics (almost) for free.

The reason is that detection errors (false positives and false negatives) cycle on the sampled bitstrings and randomly flip the bits. In the following simple example execution time increases tenfold when increasing `s

[2022-03-30 10:32] Louis-PaulHenry commented on #352
@darcangelomauro When you're mentioning a suggestion from me, do you mean computing the "reweighting" matrix?

[2022-03-30 11:00] darcangelomauro commented on #352
Yes @Louis-PaulHenry, that would eliminate the need to flip bit by bit in each string right?

[2022-03-30 14:06] Louis-PaulHenry commented on #352
yes, I think so (we can discuss it further in private).

[2022-04-08 14:48] HGSilveri opened #358 "Splitting the `pulser.simulation` module"
## Objectives:
- Have all the features of the `pulser.simulation` module in a separate distribution, thus allowing for a leaner `pulser-core` distribution that's entirely focused on the sequence design aspect.
- Keep existing code working, at least until the next major release (which will be 1.0.0)
- Minimize the need for code adaptations on the user side as much as possible
- `pip install pulser`

[2022-04-11 09:52] CdeTerra opened #359 "Automatize docstrings types"
Currently, functions' parameters and return types are precised in the docstrings. It is redundant, because they are already given as typehints.

[code]

It would be great to remove these repetitions, by automatically inferring the types in the docs from the typehints. We might for example try to use the library https://github.com/tox-dev/sphinx-autodoc-typehints for that purpose.

[2022-04-11 10:07] lvignoli commented on #359
That would be very cool! Does it work with how we specify the arguments or does it requires the `:param` clause?

[2022-04-13 10:06] HGSilveri opened #363 "Automatic packaging"
Once #362 goes through, it would be nice to have some automatic packaging routine and some CI test on it.

The packaging process is a bit unorthodox because we have three different PyPI distributions under the same repository:
- `pulser-core`, which contains the `pulser` package
- `pulser-simulation`, which contains the `pulser_simulation` package
- `pulser`, which has no package in itself but ins

[2022-04-13 15:05] #358 closed

[2022-05-10 14:38] HGSilveri commented on #135
The construction of the `Sequence` class has since changed to store every relevant call that is made in its construction. As such, a device switch can instead be achieved by simply attempting to rebuild the sequence on the new device. This process will subject the creation to all checks that are normally in place.

Nonetheless, it is still necessary to design a systematic matching between hardware

[2022-05-10 14:41] HGSilveri commented on #177
@sebgrijalva This issue has been open for a while now, what's the status on this? Should we close it / archive it?

[2022-05-10 14:46] sebgrijalva commented on #177
I'd say we archive it, yes.

[2022-05-10 16:27] HGSilveri opened #367 "Tutorial on modulated output sequence creation and simulation"
A tutorial for the docs showcasing how to use the output modulation features.

Should be done after #315.

[2022-05-12 10:48] HGSilveri opened #368 "Split`sequence.py` in multiple files"
The `sequence.py` function is by far the largest in the codebase and could use a refactoring into a module multiple files.

In the [`seq-module`](https://github.com/pasqal-io/Pulser/tree/seq-module) branch, I have already split what was straightforward to split. Still, the file remains quite large, so I propose the following tasks:

- [x] Assess what other parts of the code can naturally be moved

[2022-05-12 16:02] HGSilveri opened #370 "Add the sampler module to the API documentation"

[2022-05-19 15:30] lvignoli opened #374 "a notebook to demonstrate its use and extend the User Guide"

[2022-05-19 15:32] lvignoli commented on #374
Opened by mistake

[2022-05-19 15:32] #374 closed

[2022-06-05 10:40] WingCode commented on #359
@lvignoli In our function signature, we have to define the types for the arguments and the sphinx extension will pick it up from there.
@HGSilveri I would like to work on this issue. Could you assign it to me?

[2022-06-05 21:47] HGSilveri commented on #359
For sure @WingCode , sorry for the delay!

[2022-06-08 22:16] fred5825 commented on #363
@HGSilveri Hi can give this a shot would you be available to talk about this some more?

[2022-06-09 07:52] HGSilveri commented on #363
Hi @fred5825 , of course! I'll send you a message on Discord. Once you've decided you wanted to tackle this let me know and I'll assign it to you

[2022-06-17 09:05] #359 closed

[2022-06-23 12:30] CdeTerra opened #380 "Register ids type change after serialization and deserialization"
When using numbers as atom ids, they are converted to strings when going through the serialization and deserialization. The consequence is that the outcome will differ from the original value.

For example:

[code]

This is due to json converting object ids to strings. This might lead to undesired behaviors, because we never know what consequences we might meet by having strings instead of integer

[2022-06-23 15:13] HGSilveri commented on #380
I think the idea of having all qubit IDs be strings is worth considering, since this is not the first time this has posed problems.

However, I think it is not something that can be done quickly, so as a fast workaround I propose we change the `BaseRegister._to_dict()` method to use the `from_coordinates()` classmethod upon deserialization. This will allow the qubit ids to be stored in a list, so

[2022-06-27 11:46] HGSilveri opened #382 "Adiabatic solution to the UD-MIS"
Update the UD-MIS tutorial to include an adiabatic solution.

[2022-07-05 10:31] #382 closed

[2022-07-07 08:11] HGSilveri commented on #315
Something to take into account here: the behaviour of the SLM mask in the presence of modulation is still ill-defined, so it was decided that for now we will just not support the simulation of sequences with modulated output and an SLM mask.

Practically, this implies that in `Simulation.__init__()`, if the user chooses the option to use the modulated output, we check whether the SLM mask is confi

[2022-07-18 10:37] HGSilveri opened #387 "Slightly change curve color hue between adjacent channels"
With the changes made in #385 , sequence drawing will omit the detuning curve when it is not being used. This results in more compact plots, but it also make the curves harder to tell apart at a glance. I propose we slightly change the hue between adjacent channels to make them easier to tell apart. I think a cycle of two or three distinct colors should be enough, something like this:

<img width=

[2022-07-18 14:49] #368 closed

[2022-07-20 06:56] arthurfaria commented on #349
I would like to work in this issue

[2022-07-20 12:41] lvignoli commented on #349
Hi @arthurfaria! Thank you for your interest. The sampler is currently being reworked in PR #388, so this issue is not up do date.
We'll update the sampler-related issue after #388, you might be interesting in working on it after that 😃.

[2022-07-20 12:50] HGSilveri commented on #349
Very cool to know you're interested, @arthurfaria ! It is as @lvignoli says, we're currently reworking the sampler. I can always ping you once that's done.

This issues actually encompasses multiple working points, are you interested in any one in particular?

[2022-07-20 14:53] arthurfaria commented on #349
Hi @HGSilveri and @lvignoli, thanks for the reply. Well, right now I am more interested in the simple ones. I have lately grown very interested in your open-source and working on an open `good first issue` would help me very much to grasp better the ideas behind it. So among those tasks, which one do you think is the best to start with?

[2022-07-20 16:33] lvignoli commented on #349
Sure, writing an example notebook is the obvious entry point to the code.
Probably #135 is a safer route, since it does not rely on current WIP.
In any case @arthurfaria your contributions are welcomed 🙂.

[2022-07-20 16:44] arthurfaria commented on #349
alright! thanks a lot

[2022-07-22 12:11] #380 closed

[2022-08-03 14:17] HGSilveri commented on #349
@arthurfaria Can you please leave a comment on PR #367 so that I can assign it to you?

[2022-08-03 14:38] arthurfaria commented on #349
Of course: Hi!

[2022-08-03 14:44] HGSilveri commented on #349
Thanks, but can you do it on that issue #367 instead? It is more focused on what you'll be doing

[2022-08-03 14:46] arthurfaria commented on #367
Hi! Thanks @HGSilveri

[2022-08-03 15:11] HGSilveri commented on #367
Awesome!
By the way, the features needed for the simulation part are being introduced in PR #390, you can take a look already if you want.
Relevantly here, you'll have an extra option in `Simulation()` that let's you choose whether you want to simulate with the input or the modulated output. All you'll need to do is choose this enable option, like so:
[code]
If then e.g. you draw the simulation wi

[2022-08-03 15:17] HGSilveri commented on #349
Update on this issue:
- The notebook will be addressed in issue #367
- The new sampler introduced in #388 allows for the different output formats desired
- In #390, noise and sampling rate are handled externally by the `Simulation` class (because that's the only place they're needed), so they don't need to be incorporated in the sampler.

With that being said, I think we can consider this issue co

[2022-08-03 15:17] #349 closed

[2022-08-03 22:28] arthurfaria commented on #367
Thanks for the remark!

[2022-08-05 07:34] #315 closed

[2022-08-05 08:40] LucasGitQ opened #391 "Add saving possibility to register layout draw method"
When drawing a Register, there is the possibility to save the produced figure but there is not the same thing for the new layout object.
<img width="596" alt="pull" src="https://user-images.githubusercontent.com/71789668/183038367-bbe0862c-7ddb-4b70-887c-299d55bf5e82.png">

[2022-08-05 09:18] HGSilveri commented on #391
Good point @LucasGitQ ! Do you need this feature soon or can we leave it for newcomers?

[2022-08-05 09:22] LucasGitQ commented on #391
I can do without it, no problem. We can leave it for newcomers !

[2022-08-05 14:59] #370 closed

[2022-08-09 16:40] #363 closed

[2022-09-08 14:19] Varda-star commented on #135
Hello @HGSilveri . I would like to work on this issue.

[2022-09-09 09:10] HGSilveri commented on #135
Great @Varda-star , it's yours!

[2022-09-14 09:15] Varda-star commented on #135
Hi @HGSilveri after reviewing the pulser sequence class, in order to switch devices, I finally decided to use all the different calls used while building the former sequence (stored in sequence._calls) then try to follow them with the target device and return only if there are no errors. What do you think about?
Because modifying directly the former sequence will require more time because the vali

[2022-09-15 08:18] HGSilveri commented on #135
Hi @Varda-star , that's I would go about it too, I agree with this approach.
Still, don't forget that there is no requirement on the channels of the device having the same name, so you will need to develop some clever way of matching the channels between two devices by comparing the specs of each one.

[2022-09-15 08:25] Varda-star commented on #135
With the two existing devices, channels have the same  but the parameters are different actually.

[2022-09-15 08:28] HGSilveri commented on #135
Yes, there is no requirement associated with the name given to the channels, so that is not a valid criterium for comparison.

[2022-09-15 08:32] Varda-star commented on #135
So, yes, I just take into account the channel_id. From a given channel, I check if the channel_id is available in the target device, if so I declare the channel on the target device otherwise I stop the process.

[2022-09-15 08:39] HGSilveri commented on #135
That's too restrictive, actually. Even if two channels don't have exactly the same specs, they can still be interchangeable in some cases.
By the way, when I was mentioning "channel names" before, I actually meant the IDs. There is no information or rule for the name given to the channel IDs, so it's not a valid comparison criteria. I could make a new device with a channel with exactly the same sp

[2022-09-15 09:02] Varda-star commented on #135
I got your point. In this case, I must find how it is possible to interchange two channels given their specs

[2022-09-15 09:16] Varda-star commented on #135
Let's assume I replace channel A with channel B, respecting a given criteria allowing this switch, to make the new sequence realising quite the same task than the former one, I will probably modify pulses too

[2022-09-15 09:20] HGSilveri commented on #135
Indeed, that might happen if e.g. the clock period is different between the channels, but it doesn't necessarily mean the results will be changed significantly. I think the way to handle this is to add a keyword argument to the conversion method, like `strict=False`, where if you set it to `True` it is more strict on the channel requirements.

[2022-09-15 09:21] Varda-star commented on #135
We can then make our decision on the pulser.channels classes, check whether it's Rydberg Global/local, Raman...

[2022-09-15 09:24] HGSilveri commented on #135
The addressing (global/local) and the basis (Rydberg, Raman, ...) are necessary criteria for two channels to match, there can't be any flexibility there. But I think we can allow some flexibility on the other parameters

[2022-09-20 07:58] bejito opened #397 "Make abstract JSON representation feature complete"
The abstract is really useful for multiple reasons:
- Not tied to python, easier to interpret in other languages
- Not tied to the implementation, easier to keep stable across time

In order to be able to use it fully, we need to add some of the missing features to it:
- RegisterLayout, MappableRegister
- Device serialization (independently from the sequence)

[2022-09-22 13:36] HGSilveri opened #399 "Create the `pulser-pasqal` extension"
Follow the same template used for `pulser-core` and `pulser-simulation`.

[2022-09-23 16:43] #399 closed

[2022-09-27 10:23] HGSilveri opened #401 "Create the `PasqalCloud` class to integrate the existing features of `pasqal-sdk`"

[2022-10-28 12:20] HGSilveri opened #414 "Add the `RegisterLayout` slug to the abstract representation serializer"
The new schema introduced in PR #412 already has an optional `slug` field for the layout. Once that is merged, we can include the slug parameter introduced in #411 in the RegisterLayout serialization.

[2022-10-31 12:47] #397 closed

[2022-11-09 16:53] HGSilveri opened #418 "Add tutorial and documentation for EOM mode operation"
Should follow the full merge of the EOM mode features, which started on PR #417.

[2022-11-17 16:17] #401 closed

[2022-11-28 10:38] HGSilveri opened #420 "RegisterLayout updates"
- Having the trap coordinate input before ordering stored under `RegisterLayout.trap_coordinates` is misleading because they can be confused with the ordered coordinates. They should be hidden under `RegisterLayout._trap_coordinates`
- There should be a tutorial on how to work with `RegisterLayout` added to the docs

[2022-11-28 16:22] dehond opened #422 "Inconsistent type annotation in Simulation.run()"
In the `run()` method of the `Simulation()` class there's an inconsistent type annotation for the options passed to the QuTiP solver ([see line](https://github.com/pasqal-io/Pulser/blob/develop/pulser-simulation/pulser_simulation/simulation.py#L819)). It says that the type should be a `qutip.solver.Options` object, but the code looks like it's treated as a dictionary, with the key-value pairs bein

[2022-11-28 16:34] HGSilveri commented on #422
Hi @dehond , you're right... It expects the arguments to `Options`, not an `Options` instance.
Thanks for bringing this up, it should be very simple to fix. Would you like to do it or should we go ahead and do it ourselves?

[2022-11-28 16:42] HGSilveri commented on #422
Awesome, @dehond, the issue is yours!